- Study project of web scraping by gathering data about colonialism using Wikipedia articles
- Gathered data will be used for a data visualization study project

In [1]:
from table_scraping import *

# "Countries" dataframe

In [2]:
# Using the list of UN members as list of countries in the world
url = 'https://en.wikipedia.org/wiki/Member_states_of_the_United_Nations'

# Other possible source (Tables by continent)
# url = 'https://en.wikipedia.org/wiki/List_of_sovereign_states_by_date_of_formation'

# Header for this page: <th scope="col"> | Cells in first column: <th scope="row">
data = get_dataframe(get_tables(url)[0], ['td', 'th'], {'scope' : 'col'})
data['Independence'] = np.nan
data['Independence From'] = np.nan
data['Main Colonial Power'] = np.nan
data['Continent'] = np.nan  

# Finishing base dataframe
data = data.drop(['Date of admission', 'Original member', 'See also'], axis=1)
data = data.rename(columns={"Member state": 'Country'})
data

,Country,Independence,Independence From,Main Colonial Power,Continent
0,Afghanistan,NaN,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN,NaN
2,Algeria,NaN,NaN,NaN,NaN
3,Andorra,NaN,NaN,NaN,NaN
4,Angola,NaN,NaN,NaN,NaN
...,...,...,...,...,...
188,Bolivarian Republic of Venezuela,NaN,NaN,NaN,NaN
189,Viet Nam,NaN,NaN,NaN,NaN
190,Yemen,NaN,NaN,NaN,NaN
191,Zambia,NaN,NaN,NaN,NaN
192,Zimbabwe,NaN,NaN,NaN,NaN

In [3]:
# Adding observer states
data = data.append({'Country': 'Vatican City'}, ignore_index=True)
data = data.append({'Country': 'Palestine'}, ignore_index=True)

data = data.sort_values('Country').reset_index(drop=True)

In [4]:
# Renaming some countries
# Plurinational State of Bolivia
data.loc[data['Country'].str.contains(
    "Bolivia"), 'Country'] = 'Bolivia'  
# Brunei Darussalam
data.loc[data['Country'].str.contains(  
    "Brunei"), 'Country'] = 'Brunei'
# Congo
data.iloc[38, 0] = 'Republic of the Congo'
# Democratic People's Republic of Korea
data.loc[data['Country'].str.contains(  
    "Democratic People's"), 'Country'] = 'North Korea'
# Islamic Republic of Iran
data.loc[data['Country'].str.contains(  
    "Iran"), 'Country'] = 'Iran'
# Lao People's Democratic Republic
data.loc[data['Country'].str.contains(  
    "Lao "), 'Country'] = 'Laos'
# Republic of Korea
data.loc[data['Country'].str.contains(  
    "Republic of Korea"), 'Country'] = 'South Korea'
# Republic of Moldova
data.loc[data['Country'].str.contains(  
    "Moldova"), 'Country'] = 'Moldova'
# Russian Federation
data.loc[data['Country'].str.contains(  
    "Russian"), 'Country'] = 'Russia'
# Syrian Arab Republic
data.loc[data['Country'].str.contains(  
    "Syrian"), 'Country'] = 'Syria'
# United Kingdom of Great Britain and Northern Ireland
data.loc[data['Country'].str.contains(  
    "United Kingdom"), 'Country'] = 'United Kingdom'
# United Republic of Tanzania
data.loc[data['Country'].str.contains(  
    "Tanzania"), 'Country'] = 'Tanzania'
# United States of America
data.loc[data['Country'].str.contains(
    "United States"), 'Country'] = 'United States'
# Bolivarian Republic of Venezuela
data.loc[data['Country'].str.contains(  
    "Venezuela"), 'Country'] = 'Venezuela'
# Viet Nam
data.loc[data['Country'].str.contains(
    "Viet"), 'Country'] = 'Vietnam'

data

,Country,Independence,Independence From,Main Colonial Power,Continent
0,Afghanistan,NaN,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN,NaN
2,Algeria,NaN,NaN,NaN,NaN
3,Andorra,NaN,NaN,NaN,NaN
4,Angola,NaN,NaN,NaN,NaN
...,...,...,...,...,...
190,Vatican City,NaN,NaN,NaN,NaN
191,Vietnam,NaN,NaN,NaN,NaN
192,Yemen,NaN,NaN,NaN,NaN
193,Zambia,NaN,NaN,NaN,NaN
194,Zimbabwe,NaN,NaN,NaN,NaN

# Africa

In [5]:
url = 'https://en.wikipedia.org/wiki/Decolonisation_of_Africa'

In [6]:
# Gets table containing the dates and colonial powers of african countries
df = get_dataframe(get_tables(url)[6])

#
df['Continent'] = 'Africa'

# Cleaning column 'Country'
df['Country'] = df['Country'].str.replace('\xa0', '')

df

,Country,Date of acquisition of sovereignty,Acquisition of sovereignty,Continent
0,Algeria,3 July 1962,French recognition of Algerian referendum on i...,Africa
1,Angola,11 November 1975,Independence from Portugal,Africa
2,Benin,1 August 1960,Independence from France,Africa
3,Botswana,30 September 1966,Independence from the United Kingdom,Africa
4,Burkina Faso,5 August 1960,Independence from France,Africa
...,...,...,...,...
58,Uganda,1 March 1962,Self-government granted,Africa
59,Uganda,9 October 1962,Independence from the United Kingdom,Africa
60,Zambia,24 October 1964,Independence from the United Kingdom,Africa
61,Zimbabwe,11 November 1965,Unilateral declaration of independence by Sout...,Africa
62,Zimbabwe,18 April 1980,Recognized independence from the United Kingdo...,Africa

In [7]:
# Rename columns to fit with the 'data' dataframe
df = df.rename(columns={"Date of acquisition of sovereignty": 'Independence',
                        'Acquisition of sovereignty': 'Independence From'})

# Independence from date to just year
df['Independence'] = df['Independence'].str.split(expand=True)[2]

# Removes duplicates
df = df.drop_duplicates(
    ['Country'], keep='last').reset_index(drop=True)

# Get some colonial powers
df['Independence From'] = df['Independence From'].str.replace(
    "Independence From|the|declared|recognized", "", case=False, regex=True)

df['Independence From'] = df['Independence From'].str.strip()

In [8]:
# Corrections
# Names
# Democratic Republic of Congo -> Democratic Republic of the Congo
df.iloc[11, 0] = "Democratic Republic of the Congo"

# Republic of Congo -> Republic of the Congo
df.iloc[12, 0] = "Republic of the Congo"

# Ivory Coast -> CÃ´te d'Ivoire
df.iloc[24, 0] = "CÃ´te d'Ivoire"

# Independence From
# Algeria, Madagascar, Morocco
df.iloc[[0, 29, 34], 2] = 'France'

# Egypt, South Africa, Sudan, Tanzania, Zimbabwe
df.iloc[[14, 45, 47, 48, 53], 2] = 'United Kingdom'

# Ethiopia
df.iloc[18, [1, 2]] = 'Not Colonized'

# Liberia (Colonized by "American Colonization Society")
df.iloc[27]['Independence From'] = 'United States'

# Libya, Somalia
df.iloc[[28, 44], 2] = 'Italy'

# Namibia
df.iloc[36]['Independence From'] = 'South Africa'

# South Sudan
df.iloc[46]['Independence From'] = 'Sudan'

# Dates
# Libya (Declared: 1947 | Kingdom established: 1951)
# df.iloc[28]['Independence'] = 1947

# Malawi (Dominion: 1964 | Republic: 1966)
df.iloc[30]['Independence'] = 1966

# Mauritius (Elizabeth II as head of state: 1968 - 1992 | Republic: 1992)
# df.iloc[33]['Independence'] = 1992

# Morocco (End of the French Protectorate announced: 1955 | Declaration: 1956)
df.iloc[34]['Independence'] = 1956

# Sierra Leone (Dominion: 1961 | Republic: 1971)
df.iloc[43]['Independence'] = 1971

# South Africa (Statute of Westminster: 1931 | Republic: 1961)
df.iloc[45]['Independence'] = 1961

# Tanzania (Tanganyika: 1961 | Zanzibar: 1963 | Merger: 1964)
# df.iloc[48]['Independence'] = 1964

# Uganda (Dominion: 1962 | Republic: 1963)
df.iloc[51]['Independence'] = 1963

df

,Country,Independence,Independence From,Continent
0,Algeria,1962,France,Africa
1,Angola,1975,Portugal,Africa
2,Benin,1960,France,Africa
3,Botswana,1966,United Kingdom,Africa
4,Burkina Faso,1960,France,Africa
5,Burundi,1962,Belgium,Africa
6,Cabo Verde,1975,Portugal,Africa
7,Cameroon,1960,France,Africa
8,Central African Republic,1960,France,Africa
9,Chad,1960,France,Africa
10,Comoros,1975,France,Africa
11,Democratic Republic of the Congo,1960,Belgium,Africa
12,Republic of the Congo,1960,France,Africa
13,Djibouti,1977,France,Africa
14,Egypt,1922,United Kingdom,Africa
15,Equatorial Guinea,1968,Spain,Africa
16,Eritrea,1993,Ethiopia,Africa
17,Eswatini,1968,United Kingdom,Africa
18,Ethiopia,Not Colonized,Not Colonized,Africa
19,Gabon,1960,France,Africa
20,Gambia,1965,United Kingdom,Africa
21,Ghana,1957,United Kingdom,Africa
22,Guinea,1958,France,Africa
23,Guinea-Bissau,1974,Portugal,Africa
24,CÃ´te d'Ivoire,1960,France,Africa
25,Kenya,1963,United Kingdom,Africa
26,Lesotho,1966,United Kingdom,Africa
27,Liberia,1847,United States,Africa
28,Libya,1951,Italy,Africa
29,Madagascar,1960,France,Africa
30,Malawi,1966,United Kingdom,Africa
31,Mali,1960,France,Africa
32,Mauritania,1960,France,Africa
33,Mauritius,1968,United Kingdom,Africa
34,Morocco,1956,France,Africa
35,Mozambique,1975,Portugal,Africa
36,Namibia,1990,South Africa,Africa
37,Niger,1960,France,Africa
38,Nigeria,1960,United Kingdom,Africa
39,Rwanda,1962,Belgium,Africa
40,SÃ£o TomÃ© and PrÃ­ncipe,1975,Portugal,Africa
41,Senegal,1960,France,Africa
42,Seychelles,1976,United Kingdom,Africa
43,Sierra Leone,1971,United Kingdom,Africa
44,Somalia,1960,Italy,Africa
45,South Africa,1961,United Kingdom,Africa
46,South Sudan,2011,Sudan,Africa
47,Sudan,1956,United Kingdom,Africa
48,Tanzania,1961,United Kingdom,Africa
49,Togo,1960,France,Africa
50,Tunisia,1956,France,Africa
51,Uganda,1963,United Kingdom,Africa
52,Zambia,1964,United Kingdom,Africa
53,Zimbabwe,1980,United Kingdom,Africa

In [9]:
# Filling the main dataframe with collected data
map_fill(data, df, 'Country', ['Independence', 'Independence From', 'Continent'])

data

,Country,Independence,Independence From,Main Colonial Power,Continent
0,Afghanistan,NaN,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN,NaN
2,Algeria,1962,France,NaN,Africa
3,Andorra,NaN,NaN,NaN,NaN
4,Angola,1975,Portugal,NaN,Africa
...,...,...,...,...,...
190,Vatican City,NaN,NaN,NaN,NaN
191,Vietnam,NaN,NaN,NaN,NaN
192,Yemen,NaN,NaN,NaN,NaN
193,Zambia,1964,United Kingdom,NaN,Africa
194,Zimbabwe,1980,United Kingdom,NaN,Africa

## Main Colonial Power

In [10]:
# Gets table containing the dates and colonial powers of african countries
df = get_dataframe(get_tables(url)[0])[['Country', 'Colonial power']]
df = df.rename(columns={'Colonial power': 'Main Colonial Power'})

# Cleaning column 'Country'
df['Country'] = df['Country'].str.replace('\xa0', '')

df

,Country,Main Colonial Power
0,Liberia,United States
1,South Africa,United Kingdom
2,Egypt,United Kingdom
3,Ethiopian Empire,Kingdom of Italy Â United Kingdom
4,Eritrea,Italy
5,Emirate of Cyrenaica,United Kingdom
6,United Kingdom of Libya,United KingdomÂ French Fourth Republic Emirate...
7,Libya,ItalyÂ United Kingdom
8,Sudan,United Kingdom[q] Republic of Egypt
9,South Sudan,United Kingdom[q] Republic of Egypt
10,Tunisia,France Â United Kingdom
11,Morocco,FranceÂ Spain
12,Ghana,United Kingdom
13,Guinea,France
14,Cameroon,GermanyÂ FranceÂ United Kingdom
15,Togo,France
16,Mali,France
17,Senegal,France
18,Madagascar,France
19,Democratic Republic of the Congo,Belgium
20,Somalia,United KingdomÂ Italy
21,Republic of Dahomey,French Fifth Republic Portuguese Republic
22,Benin,France
23,Niger,France
24,Burkina Faso,France
25,Ivory Coast,France
26,Chad,France
27,Central African Republic,France
28,Republic of the Congo,France
29,Gabon,France
30,Nigeria,United Kingdom
31,Mauritania,France
32,Sierra Leone,United Kingdom
33,Tanganyika,United Kingdom
34,Burundi,Germany Â Belgium
35,Rwanda,Germany Â Belgium
36,Algeria,France
37,Uganda,United Kingdom
38,Kenya,United Kingdom
39,Sultanate of Zanzibar,United Kingdom
40,Malawi,United Kingdom
41,Zambia,United Kingdom
42,The Gambia,United Kingdom
43,RhodesiaZimbabwe,United Kingdom
44,Botswana,United Kingdom
45,Lesotho,United Kingdom
46,Mauritius,United Kingdom
47,Eswatini,United Kingdom
48,Equatorial Guinea,Spain
49,Guinea-Bissau,Portugal
50,Mozambique,Portugal
51,Cape Verde,Portugal
52,Comoros,France
53,SÃ£o TomÃ© and PrÃ­ncipe,Portugal
54,Angola,Portugal
55,Seychelles,United Kingdom
56,Djibouti,France
57,Sahrawi Arab Democratic Republic,SpainÂ Morocco Islamic Republic of Mauritania
58,Namibia,South Africa

In [11]:
# Dropping unrecognized countries and countries that no longer exist
df = df.drop([5, 6, 21, 39, 57]).reset_index(drop=True)

In [12]:
df

                             Country                   Main Colonial Power
0                            Liberia                        Â United States
1                       South Africa                       Â United Kingdom
2                              Egypt                       Â United Kingdom
3                   Ethiopian Empire      Kingdom of Italy Â United Kingdom
4                            Eritrea                                Â Italy
5                              Libya                 Â ItalyÂ United Kingdom
6                              Sudan  Â United Kingdom[q] Republic of Egypt
7                        South Sudan  Â United Kingdom[q] Republic of Egypt
8                            Tunisia               Â France Â United Kingdom
9                            Morocco                         Â FranceÂ Spain
10                             Ghana                       Â United Kingdom
11                            Guinea                               Â France
12                          Cameroon        Â GermanyÂ FranceÂ United Kingdom
13                              Togo                               Â France
14                              Mali                               Â France
15                           Senegal                               Â France
16                        Madagascar                               Â France
17  Democratic Republic of the Congo                              Â Belgium
18                           Somalia                 Â United KingdomÂ Italy
19                             Benin                               Â France
20                             Niger                               Â France
21                      Burkina Faso                               Â France
22                       Ivory Coast                               Â France
23                              Chad                               Â France
24          Central African Republic                               Â France
25             Republic of the Congo                               Â France
26                             Gabon                               Â France
27                           Nigeria                       Â United Kingdom
28                        Mauritania                               Â France
29                      Sierra Leone                       Â United Kingdom
30                        Tanganyika                       Â United Kingdom
31                           Burundi                     Â Germany Â Belgium
32                            Rwanda                     Â Germany Â Belgium
33                           Algeria                               Â France
34                            Uganda                       Â United Kingdom
35                             Kenya                       Â United Kingdom
36                            Malawi                       Â United Kingdom
37                            Zambia                       Â United Kingdom
38                        The Gambia                       Â United Kingdom
39                  RhodesiaZimbabwe                       Â United Kingdom
40                          Botswana                       Â United Kingdom
41                           Lesotho                       Â United Kingdom
42                         Mauritius                       Â United Kingdom
43                          Eswatini                       Â United Kingdom
44                 Equatorial Guinea                                Â Spain
45                     Guinea-Bissau                             Â Portugal
46                        Mozambique                             Â Portugal
47                        Cape Verde                             Â Portugal
48                           Comoros                               Â France
49             SÃ£o TomÃ© and PrÃ­ncipe                             Â Portugal
50                            Angola                             Â Portugal
51                        Seychelles                       Â United Kingdom
52                          Djibouti                               Â France
53                           Namibia                         Â South Africa

In [13]:
# Corrections
# Names
df.iloc[3]['Country'] = 'Ethiopia'
df.iloc[22]['Country'] = "CÃ´te d'Ivoire"
df.iloc[30]['Country'] = 'Tanzania'
df.iloc[38]['Country'] = 'Gambia'
df.iloc[39]['Country'] = 'Zimbabwe'
df.iloc[47]['Country'] = 'Cabo Verde'

# Powers
# Ethiopia
df.iloc[3]['Main Colonial Power'] = 'Not Colonized'
# Libya and Somalia
df.iloc[[5, 18], 1] = 'Italy'

# Sudan, South Sudan, and Namibia
df.iloc[[6, 7, 53], 1] = 'United Kingdom'

# Tunisia and Morocco
df.iloc[[8, 9], 1] = 'France'

# Cameroon, Burundi, and Ruanda
df.iloc[[12, 31, 32], 1] = 'Germany'

df['Main Colonial Power'] = df['Main Colonial Power'].str.strip()

df

                             Country Main Colonial Power
0                            Liberia       United States
1                       South Africa      United Kingdom
2                              Egypt      United Kingdom
3                           Ethiopia       Not Colonized
4                            Eritrea               Italy
5                              Libya               Italy
6                              Sudan      United Kingdom
7                        South Sudan      United Kingdom
8                            Tunisia              France
9                            Morocco              France
10                             Ghana      United Kingdom
11                            Guinea              France
12                          Cameroon             Germany
13                              Togo              France
14                              Mali              France
15                           Senegal              France
16                        Madagascar              France
17  Democratic Republic of the Congo             Belgium
18                           Somalia               Italy
19                             Benin              France
20                             Niger              France
21                      Burkina Faso              France
22                     CÃ´te d'Ivoire              France
23                              Chad              France
24          Central African Republic              France
25             Republic of the Congo              France
26                             Gabon              France
27                           Nigeria      United Kingdom
28                        Mauritania              France
29                      Sierra Leone      United Kingdom
30                          Tanzania      United Kingdom
31                           Burundi             Germany
32                            Rwanda             Germany
33                           Algeria              France
34                            Uganda      United Kingdom
35                             Kenya      United Kingdom
36                            Malawi      United Kingdom
37                            Zambia      United Kingdom
38                            Gambia      United Kingdom
39                          Zimbabwe      United Kingdom
40                          Botswana      United Kingdom
41                           Lesotho      United Kingdom
42                         Mauritius      United Kingdom
43                          Eswatini      United Kingdom
44                 Equatorial Guinea               Spain
45                     Guinea-Bissau            Portugal
46                        Mozambique            Portugal
47                        Cabo Verde            Portugal
48                           Comoros              France
49             SÃ£o TomÃ© and PrÃ­ncipe            Portugal
50                            Angola            Portugal
51                        Seychelles      United Kingdom
52                          Djibouti              France
53                           Namibia      United Kingdom

In [14]:
# Filling main dataframe
map_fill(data, df, 'Country', ['Main Colonial Power'])
data

          Country Independence Independence From Main Colonial Power Continent
0     Afghanistan          NaN               NaN                 NaN       NaN
1         Albania          NaN               NaN                 NaN       NaN
2         Algeria         1962            France              France    Africa
3         Andorra          NaN               NaN                 NaN       NaN
4          Angola         1975          Portugal            Portugal    Africa
..            ...          ...               ...                 ...       ...
190  Vatican City          NaN               NaN                 NaN       NaN
191       Vietnam          NaN               NaN                 NaN       NaN
192         Yemen          NaN               NaN                 NaN       NaN
193        Zambia         1964    United Kingdom      United Kingdom    Africa
194      Zimbabwe         1980    United Kingdom      United Kingdom    Africa

[195 rows x 5 columns]

# America

In [15]:
url = 'https://en.wikipedia.org/wiki/Decolonization_of_the_Americas'

In [16]:
# Gets table containing the dates and colonial powers of american countries
df = get_dataframe(get_tables(url)[0])[
    ['Country', 'Colonial power', 'Independence date']]
df['Independence From'] = np.nan
df =  df.sort_values('Country').reset_index(drop=True)

# Six continents model
df['Continent'] = 'America'

# Cleaning column 'Country'
df['Country'] = df['Country'].str.replace('\xa0', '')

df

,Country,Colonial power,Independence date,Independence From,Continent
0,Antigua and Barbuda,United Kingdom,"November 1, 1981",NaN,America
1,Argentina,Spanish Empire,"May 25, 1810; July 9, 1816",NaN,America
2,Bahamas,United Kingdom,"July 10, 1973",NaN,America
3,Barbados,United Kingdom,"November 30, 1966",NaN,America
4,Belize,United Kingdom,"September 21, 1981",NaN,America
5,Bolivia,Spanish Empire,"August 6, 1825",NaN,America
6,Brazil,Portuguese Empire,"August 29, 1825",NaN,America
7,Canada,United Kingdom,"July 1, 1867",NaN,America
8,Chile,Spanish Empire,"February 12, 1818",NaN,America
9,Colombiaas part of Gran Colombia,Spanish Empire,"August 7, 1819",NaN,America
10,Costa Ricaas part of Federal Republic of Cent...,Spanish Empire,"September 15, 1821",NaN,America
11,Cuba,Spain,"December 10, 1898",NaN,America
12,Dominica,United Kingdom,"November 3, 1978",NaN,America
13,Dominican Republic,Spanish Empire,"August 16, 1865",NaN,America
14,Dominican Republic,Spanish Empire,"November 20, 1821",NaN,America
15,Ecuadoras part of Gran Colombia,Spanish Empire,"May 24, 1822",NaN,America
16,El Salvadoras part of Federal Republic of Cen...,Spanish Empire,"September 15, 1821",NaN,America
17,Grenada,United Kingdom,"February 7, 1974",NaN,America
18,Guatemalaas part of Federal Republic of Centr...,Spanish Empire,"September 15, 1821",NaN,America
19,Guyana,United Kingdom,"May 26, 1966",NaN,America
20,Haiti,Kingdom of France (until 1792) Â French First ...,"January 1, 1804",NaN,America
21,Hondurasas part of Federal Republic of Centra...,Spanish Empire,"September 15, 1821",NaN,America
22,Jamaica,United Kingdom,"August 6, 1962",NaN,America
23,Mexico,Spanish Empire,"September 27, 1821",NaN,America
24,Nicaraguaas part of Federal Republic of Centr...,Spanish Empire,"September 15, 1821",NaN,America
25,Panamaas part of Gran Colombia,Spanish Empire,"November 28, 1821",NaN,America
26,Paraguay,Spanish Empire,"May 14, 1811",NaN,America
27,Peru,Spanish Empire,"December 9, 1824",NaN,America
28,Saint Kitts and Nevis,United Kingdom,"September 19, 1983",NaN,America
29,Saint Lucia,United Kingdom,"February 22, 1979",NaN,America
30,Saint Vincent and the Grenadines,United Kingdom,"October 27, 1979",NaN,America
31,Suriname,Netherlands,"November 25, 1975",NaN,America
32,Trinidad and Tobago,United Kingdom,"August 31, 1962",NaN,America
33,United States,British Empire,"July 4, 1776; September 3, 1783",NaN,America
34,Uruguay,Spanish Empire; Â Empire of Brazil,"May 18, 1811; August 27, 1828",NaN,America
35,Venezuelaas part of Gran Colombia,Spanish Empire,"June 24, 1821",NaN,America

In [17]:
# Rename columns to fit with the 'data' dataframe
df = df.rename(columns={"Independence date": 'Independence',
                                  'Colonial power': 'Main Colonial Power'})

# Independence from date to just year
df['Independence'] = df['Independence'].str.split(expand=True)[2]
df['Independence'] = df['Independence'].str.replace(';', '')

# Dropping second Dominican Republic independence
df = df.drop(13).reset_index(drop=True)

df

,Country,Main Colonial Power,Independence,Independence From,Continent
0,Antigua and Barbuda,United Kingdom,1981,NaN,America
1,Argentina,Spanish Empire,1810,NaN,America
2,Bahamas,United Kingdom,1973,NaN,America
3,Barbados,United Kingdom,1966,NaN,America
4,Belize,United Kingdom,1981,NaN,America
5,Bolivia,Spanish Empire,1825,NaN,America
6,Brazil,Portuguese Empire,1825,NaN,America
7,Canada,United Kingdom,1867,NaN,America
8,Chile,Spanish Empire,1818,NaN,America
9,Colombiaas part of Gran Colombia,Spanish Empire,1819,NaN,America
10,Costa Ricaas part of Federal Republic of Cent...,Spanish Empire,1821,NaN,America
11,Cuba,Spain,1898,NaN,America
12,Dominica,United Kingdom,1978,NaN,America
13,Dominican Republic,Spanish Empire,1821,NaN,America
14,Ecuadoras part of Gran Colombia,Spanish Empire,1822,NaN,America
15,El Salvadoras part of Federal Republic of Cen...,Spanish Empire,1821,NaN,America
16,Grenada,United Kingdom,1974,NaN,America
17,Guatemalaas part of Federal Republic of Centr...,Spanish Empire,1821,NaN,America
18,Guyana,United Kingdom,1966,NaN,America
19,Haiti,Kingdom of France (until 1792) Â French First ...,1804,NaN,America
20,Hondurasas part of Federal Republic of Centra...,Spanish Empire,1821,NaN,America
21,Jamaica,United Kingdom,1962,NaN,America
22,Mexico,Spanish Empire,1821,NaN,America
23,Nicaraguaas part of Federal Republic of Centr...,Spanish Empire,1821,NaN,America
24,Panamaas part of Gran Colombia,Spanish Empire,1821,NaN,America
25,Paraguay,Spanish Empire,1811,NaN,America
26,Peru,Spanish Empire,1824,NaN,America
27,Saint Kitts and Nevis,United Kingdom,1983,NaN,America
28,Saint Lucia,United Kingdom,1979,NaN,America
29,Saint Vincent and the Grenadines,United Kingdom,1979,NaN,America
30,Suriname,Netherlands,1975,NaN,America
31,Trinidad and Tobago,United Kingdom,1962,NaN,America
32,United States,British Empire,1776,NaN,America
33,Uruguay,Spanish Empire; Â Empire of Brazil,1811,NaN,America
34,Venezuelaas part of Gran Colombia,Spanish Empire,1821,NaN,America

In [18]:
# Obtaining the correct name for some countries 
df['Country'] = df['Country'].str.replace(
    "as part of|Federal Republic of Central America|Gran Colombia", "", case=False, regex=True)

df['Country'] = df['Country'].str.strip()

# Get some colonial powers
df['Main Colonial Power'] = df['Main Colonial Power'].str.replace(
    " Empire", "", case=False, regex=True)

df['Main Colonial Power'] = df['Main Colonial Power'].str.strip()

df['Main Colonial Power'] = df['Main Colonial Power'].str.replace(
    "British", "United Kingdom", case=False)
df['Main Colonial Power'] = df['Main Colonial Power'].str.replace(
    "Spanish", "Spain", case=False)
df['Main Colonial Power'] = df['Main Colonial Power'].str.replace(
    "Portuguese", "Portugal", case=False)

df['Main Colonial Power'] = df['Main Colonial Power'].str.strip()

In [19]:
# Corrections
df['Independence From'] = df['Main Colonial Power']

# Argentina (Declared)
df.iloc[1, 2] = 1816

# Bolivia (Declared: 1825 | Recognized: 1847)
# df.iloc[5, 2] = 1825

# Brazil (Declared: 1822 | Recognized: 1825)
df.iloc[6, 2] = 1822

# Canada (Confederation: 1867 | Westminster: 1931 | Patriation: 1982)
df.iloc[7, 2] = 1982

# Chile (Declared: 1818 | Recognized: 1844)
# df.iloc[8, 2] = 1818

# Colombia (Declared: 1810 | Recognized: 1819)
df.iloc[9, 2] = 1810

# Cuba
df.iloc[11, 2] = 1902
df.iloc[11, 3] = 'United States'

# Dominican Republic (4 times)
# From Spain in 1821 | From Haiti in 1844
# From Spain in 1865 | From USA in 1924
# df.iloc[13, 3] = 'Haiti'
# df.iloc[13, 3] = 'United States'

# Haiti
# Occupied by USA from 1915 to 1934
df.iloc[19, 1] = 'France'
df.iloc[19, 3] = 'France'

# Panama (From Spain: 1821 | From Colombia: 1903)
df.iloc[24, 2] = 1903
df.iloc[24, 3] = 'Colombia'

# Uruguai
df.iloc[33, 1] = 'Spain'
df.iloc[33, 3] = 'Brazil'

df

,Country,Main Colonial Power,Independence,Independence From,Continent
0,Antigua and Barbuda,United Kingdom,1981,United Kingdom,America
1,Argentina,Spain,1816,Spain,America
2,Bahamas,United Kingdom,1973,United Kingdom,America
3,Barbados,United Kingdom,1966,United Kingdom,America
4,Belize,United Kingdom,1981,United Kingdom,America
5,Bolivia,Spain,1825,Spain,America
6,Brazil,Portugal,1822,Portugal,America
7,Canada,United Kingdom,1982,United Kingdom,America
8,Chile,Spain,1818,Spain,America
9,Colombia,Spain,1810,Spain,America
10,Costa Rica,Spain,1821,Spain,America
11,Cuba,Spain,1902,United States,America
12,Dominica,United Kingdom,1978,United Kingdom,America
13,Dominican Republic,Spain,1821,Spain,America
14,Ecuador,Spain,1822,Spain,America
15,El Salvador,Spain,1821,Spain,America
16,Grenada,United Kingdom,1974,United Kingdom,America
17,Guatemala,Spain,1821,Spain,America
18,Guyana,United Kingdom,1966,United Kingdom,America
19,Haiti,France,1804,France,America
20,Honduras,Spain,1821,Spain,America
21,Jamaica,United Kingdom,1962,United Kingdom,America
22,Mexico,Spain,1821,Spain,America
23,Nicaragua,Spain,1821,Spain,America
24,Panama,Spain,1903,Colombia,America
25,Paraguay,Spain,1811,Spain,America
26,Peru,Spain,1824,Spain,America
27,Saint Kitts and Nevis,United Kingdom,1983,United Kingdom,America
28,Saint Lucia,United Kingdom,1979,United Kingdom,America
29,Saint Vincent and the Grenadines,United Kingdom,1979,United Kingdom,America
30,Suriname,Netherlands,1975,Netherlands,America
31,Trinidad and Tobago,United Kingdom,1962,United Kingdom,America
32,United States,United Kingdom,1776,United Kingdom,America
33,Uruguay,Spain,1811,Brazil,America
34,Venezuela,Spain,1821,Spain,America

In [20]:
# Filling main dataframe
map_fill(data, df, 'Country', [
         'Independence', 'Independence From', 'Main Colonial Power', 'Continent'])

data

          Country Independence Independence From Main Colonial Power Continent
0     Afghanistan          NaN               NaN                 NaN       NaN
1         Albania          NaN               NaN                 NaN       NaN
2         Algeria         1962            France              France    Africa
3         Andorra          NaN               NaN                 NaN       NaN
4          Angola         1975          Portugal            Portugal    Africa
..            ...          ...               ...                 ...       ...
190  Vatican City          NaN               NaN                 NaN       NaN
191       Vietnam          NaN               NaN                 NaN       NaN
192         Yemen          NaN               NaN                 NaN       NaN
193        Zambia         1964    United Kingdom      United Kingdom    Africa
194      Zimbabwe         1980    United Kingdom      United Kingdom    Africa

[195 rows x 5 columns]

# Asia

In [21]:
url = 'https://en.wikipedia.org/wiki/Decolonisation_of_Asia'

In [22]:
# Gets table containing the dates and colonial powers of asian countries
df = get_dataframe(get_tables(url)[0])

# Rename columns to fit with the 'data' dataframe
df['Main Colonial Power'] = None
df = df.rename(columns={"Date of acquisition of sovereignty": 'Independence',
                        'Acquisition of sovereignty': 'Independence From'})

# 
df['Independence'] = df['Independence'].str.split(expand=True)[2]
df.iloc[7, 0] = 'China'

# Remove duplicates
df = df.drop_duplicates(['Country'], keep='last').reset_index(drop = True)

#
df['Continent'] = 'Asia'

# Cleaning column 'Country'
df['Country'] = df['Country'].str.replace('\xa0', '')

df

,Country,Independence,Independence From,Main Colonial Power,Continent
0,Afghanistan,None,Treaty of Rawalpindi ends British control of f...,None,Asia
1,Bahrain,1971,End of treaties with the United Kingdom,None,Asia
2,Bangladesh,1971,Independence from Pakistan declared,None,Asia
3,Bhutan,None,Ugyen Wangchuck ends a period of civil war and...,None,Asia
4,Brunei,1984,Brunei regains its independence after an agree...,None,Asia
5,Cambodia,1989,Becomes free from Vietnamese occupation; it ge...,None,Asia
6,China,None,"In 221 BC, Qin Shi Huang conquered the various...",None,Asia
7,India,1947,Independence from the British Empire,None,Asia
8,Indonesia,1949,Independence from the Kingdom of the Netherlan...,None,Asia
9,Iran,None,After the fall of Assyria between 616 BC and 6...,None,Asia
10,Iraq,1932,Kingdom of Iraq,None,Asia
11,Israel,1948,"Upon the end of the British Mandate, Jews decl...",None,Asia
12,Japan,CE,"During the subsequent Kofun period, most of Ja...",None,Asia
13,Jordan,1946,End of the British Mandate for Palestine,None,Asia
14,Kuwait,None,Establishment of the Sheikhdom of Kuwait,None,Asia
15,Kyrgyzstan,1991,Independence from the Soviet Union,None,Asia
16,Laos,1953,Independence from France,None,Asia
17,Lebanon,1943,Independence from France recognised,None,Asia
18,Malaysia,1963,Malaysia was formed by the federation of North...,None,Asia
19,Maldives,1965,Independence from the United Kingdom,None,Asia
20,Mongolia,1911,Proclamation of Mongolian independence from Ma...,None,Asia
21,Myanmar,1948,Myanmar (Burma) declares independence from the...,None,Asia
22,Nepal,1768,Nepali unification,None,Asia
23,Oman,1650,Expulsion of the Portuguese,None,Asia
24,Pakistan,1947,Independence from British India in the Partition,None,Asia
25,Palestine,1988,Palestinian Declaration of Independence,None,Asia
26,Philippines,1946,The United States recognises independence unde...,None,Asia
27,Qatar,1878,Independence from the Ottoman Empire,None,Asia
28,Saudi Arabia,None,Establishment of the First Saudi State,None,Asia
29,Singapore,1965,Malaysia unilaterally expels Singapore from th...,None,Asia
30,Sri Lanka,1948,Independence from the United Kingdom,None,Asia
31,Syria,1961,End of the United Arab Republic,None,Asia
32,Tajikistan,1991,Independence from the Soviet Union,None,Asia
33,Thailand,1767,"King Taksin the Great reunifies Thailand, esta...",None,Asia
34,Timor-Leste,2002,Independence was recognised by the internation...,None,Asia
35,Turkmenistan,1991,Independence from the Soviet Union,None,Asia
36,United Arab Emirates,1971,End of a treaty relationship with the United K...,None,Asia
37,Uzbekistan,1991,Independence from the Soviet Union declared,None,Asia
38,Vietnam,None,"HÃ¹ng king established Van Lang, the first king...",None,Asia
39,Yemen,1967,South Yemen independence from the United Kingdom,None,Asia

In [23]:
# Get some colonial powers
df['Independence From'] = df['Independence From'].str.replace(
    "Independence From|independence from | independence from|the| declared| recognized|recognized |End of treaties with ",
    "", case=False, regex=True)

df['Independence From'] = df['Independence From'].str.strip()

df.loc[df['Independence From'].str.contains(
    "British|United Kingdom"), ['Independence From', 'Main Colonial Power']] = 'United Kingdom'

df.loc[df['Independence From'].str.contains(
    "France|French"), ['Independence From', 'Main Colonial Power']] = 'France'

df.loc[df['Independence From'].str.contains(
    "Soviet"), 'Main Colonial Power'] = 'Russia'

df.loc[df['Independence From'].str.contains(
    "Netherlands|Nerlands"), ['Independence From', 'Main Colonial Power']] = 'Netherlands'

In [24]:
# Corrections
# Afghanistan
df.iloc[0, 1] = 1919

# Bangladesh
df.iloc[2, 3] = 'United Kingdom'

# Bhutan, Japan, China, Iran, Nepal, Saudi Arabia, Thailand
df.iloc[[3, 6, 9, 12, 22, 28, 33], [1, 2, 3]] = 'Not Colonized'

# Cambodia
df.iloc[5, 1] = 1953

# Kuwait
df.iloc[14, 1] = 1961

# Malaysia
df.iloc[18, 1] = 1963

# Mongolia
df.iloc[20, 2] = 'China'
df.iloc[20, 3] = 'Not Colonized'

# Oman
df.iloc[23, 1] = 1970

# Philippines
df.iloc[26, 2] = 'United States'
df.iloc[26, 3] = 'Spain'

# Qatar
df.iloc[27, 1] = 1971

# Singapore
df.iloc[29, 1] = 1965
df.iloc[29, 2] = 'Malaysia'
df.iloc[29, 3] = 'United Kingdom'

# Syria
df.iloc[31, 1] = 1946

# Timor-Leste (From Portugal: 1975 | From Indonesia: 2002)
df.iloc[34, 2] = 'Indonesia'
df.iloc[34, 3] = 'Portugal'

# Vietnam
df.iloc[38, 1] = 1945

# Yemen (North: 1918 | South: 1967 | Unification: 1990)
# df.iloc[39, 1] = 1990

#
# Iraq, Kuwait, Malaysia, Oman, Palestine, Qatar
df.iloc[[10, 14, 18, 23, 25, 27], [2, 3]] = 'United Kingdom'

# Cambodia, Syria, Vietnam
df.iloc[[5, 31, 38], [2, 3]] = 'France'

df['Main Colonial Power'] = df['Main Colonial Power'].fillna(df['Independence From'])

In [25]:
df

,Country,Independence,Independence From,Main Colonial Power,Continent
0,Afghanistan,1919,United Kingdom,United Kingdom,Asia
1,Bahrain,1971,United Kingdom,United Kingdom,Asia
2,Bangladesh,1971,Pakistan,United Kingdom,Asia
3,Bhutan,Not Colonized,Not Colonized,Not Colonized,Asia
4,Brunei,1984,United Kingdom,United Kingdom,Asia
5,Cambodia,1953,France,France,Asia
6,China,Not Colonized,Not Colonized,Not Colonized,Asia
7,India,1947,United Kingdom,United Kingdom,Asia
8,Indonesia,1949,Netherlands,Netherlands,Asia
9,Iran,Not Colonized,Not Colonized,Not Colonized,Asia
10,Iraq,1932,United Kingdom,United Kingdom,Asia
11,Israel,1948,United Kingdom,United Kingdom,Asia
12,Japan,Not Colonized,Not Colonized,Not Colonized,Asia
13,Jordan,1946,United Kingdom,United Kingdom,Asia
14,Kuwait,1961,United Kingdom,United Kingdom,Asia
15,Kyrgyzstan,1991,Soviet Union,Russia,Asia
16,Laos,1953,France,France,Asia
17,Lebanon,1943,France,France,Asia
18,Malaysia,1963,United Kingdom,United Kingdom,Asia
19,Maldives,1965,United Kingdom,United Kingdom,Asia
20,Mongolia,1911,China,Not Colonized,Asia
21,Myanmar,1948,United Kingdom,United Kingdom,Asia
22,Nepal,Not Colonized,Not Colonized,Not Colonized,Asia
23,Oman,1970,United Kingdom,United Kingdom,Asia
24,Pakistan,1947,United Kingdom,United Kingdom,Asia
25,Palestine,1988,United Kingdom,United Kingdom,Asia
26,Philippines,1946,United States,Spain,Asia
27,Qatar,1971,United Kingdom,United Kingdom,Asia
28,Saudi Arabia,Not Colonized,Not Colonized,Not Colonized,Asia
29,Singapore,1965,Malaysia,United Kingdom,Asia
30,Sri Lanka,1948,United Kingdom,United Kingdom,Asia
31,Syria,1946,France,France,Asia
32,Tajikistan,1991,Soviet Union,Russia,Asia
33,Thailand,Not Colonized,Not Colonized,Not Colonized,Asia
34,Timor-Leste,2002,Indonesia,Portugal,Asia
35,Turkmenistan,1991,Soviet Union,Russia,Asia
36,United Arab Emirates,1971,United Kingdom,United Kingdom,Asia
37,Uzbekistan,1991,Soviet Union,Russia,Asia
38,Vietnam,1945,France,France,Asia
39,Yemen,1967,United Kingdom,United Kingdom,Asia

In [26]:
# Filling main dataframe
map_fill(data, df, 'Country', ['Independence',
         'Independence From', 'Main Colonial Power', 'Continent'])

data

          Country Independence Independence From Main Colonial Power Continent
0     Afghanistan         1919    United Kingdom      United Kingdom      Asia
1         Albania          NaN               NaN                 NaN       NaN
2         Algeria         1962            France              France    Africa
3         Andorra          NaN               NaN                 NaN       NaN
4          Angola         1975          Portugal            Portugal    Africa
..            ...          ...               ...                 ...       ...
190  Vatican City          NaN               NaN                 NaN       NaN
191       Vietnam         1945            France              France      Asia
192         Yemen         1967    United Kingdom      United Kingdom      Asia
193        Zambia         1964    United Kingdom      United Kingdom    Africa
194      Zimbabwe         1980    United Kingdom      United Kingdom    Africa

[195 rows x 5 columns]

# Oceania

In [27]:
url = 'https://en.wikipedia.org/wiki/Decolonisation_of_Oceania'

In [28]:
# # Another possible source/table
# df = get_dataframe(get_tables(url)[0], ['td', 'th'], {'scope': 'col'})[['Country', 'Colonial power', 'Independence date']]

# df['Independence From'] = None
# df = df.rename(columns={'Independence date': 'Independence',
#                         'Colonial power': 'Main Colonial Power'})

# df['Independence'] = df['Independence'].str.split(expand=True)[2]

# df

In [29]:
# Gets table
df = get_dataframe(get_tables(url)[1])[['Country', 'Date of acquisition of sovereignty', 'Acquisition of sovereignty']]

# Rename columns to fit with the 'data' dataframe
df['Main Colonial Power'] = None
df = df.rename(columns={"Date of acquisition of sovereignty": 'Independence',
                        'Acquisition of sovereignty': 'Independence From'})

df['Independence'] = df['Independence'].str.split(expand=True)[2]

# Remove duplicates
df = df.drop_duplicates(['Country'], keep='last').reset_index(drop=True)

# Or 'Australia'
df['Continent'] = 'Oceania'

# Cleaning column 'Country'
df['Country'] = df['Country'].str.replace('\xa0', '')


df

,Country,Independence,Independence From,Main Colonial Power,Continent
0,Australia,1986,Australia Act 1986 â€“ Remaining legal ties betw...,None,Oceania
1,Fiji,1970,Independence from the United Kingdom,None,Oceania
2,Kiribati,1979,Independence from the United Kingdom,None,Oceania
3,Marshall Islands,1986,Compact of Free Association with the United St...,None,Oceania
4,Federated States of Micronesia,1986,Compact of Free Association with the United St...,None,Oceania
5,Nauru,1968,"Independence from UN Trusteeship (Australian, ...",None,Oceania
6,New Zealand,1967,Governor-General becomes a New Zealand appoint...,None,Oceania
7,Palau,1994,Emerged from United Nations trusteeship (admin...,None,Oceania
8,Papua New Guinea,1975,Independence from Australia,None,Oceania
9,Samoa,1962,Independence from New Zealand,None,Oceania
10,Solomon Islands,1978,Independence from the United Kingdom,None,Oceania
11,Tonga,1970,Independence from the United Kingdom,None,Oceania
12,Tuvalu,1978,Independence from the United Kingdom,None,Oceania
13,Vanuatu,1980,Independence from joint British-French condomi...,None,Oceania

In [30]:
# Get some colonial powers
df['Independence From'] = df['Independence From'].str.replace(
    "Independence From|the | declared| recognized| recognised|End of treaties with ",
    "", case=False, regex=True)

df['Independence From'] = df['Independence From'].str.strip()

df.loc[df['Independence From'].str.contains(
    "British|UK|United Kingdom"), ['Independence From', 'Main Colonial Power']] = 'United Kingdom'

In [31]:
# Corrections
# Marshall Islands, Federated States of Micronesia, Palau
df.iloc[[3, 4, 7], 2] = 'United States'
df.iloc[[3, 4, 7], 3] = 'Spain'

# New Zealand (Westminster: 1947)
df.iloc[6, 1] = 1947
df.iloc[6, [2, 3]] = 'United Kingdom'

# Papua New Guinea, Samoa
df.iloc[[8, 9], 3] = 'Germany'

In [32]:
df

,Country,Independence,Independence From,Main Colonial Power,Continent
0,Australia,1986,United Kingdom,United Kingdom,Oceania
1,Fiji,1970,United Kingdom,United Kingdom,Oceania
2,Kiribati,1979,United Kingdom,United Kingdom,Oceania
3,Marshall Islands,1986,United States,Spain,Oceania
4,Federated States of Micronesia,1986,United States,Spain,Oceania
5,Nauru,1968,United Kingdom,United Kingdom,Oceania
6,New Zealand,1947,United Kingdom,United Kingdom,Oceania
7,Palau,1994,United States,Spain,Oceania
8,Papua New Guinea,1975,Australia,Germany,Oceania
9,Samoa,1962,New Zealand,Germany,Oceania
10,Solomon Islands,1978,United Kingdom,United Kingdom,Oceania
11,Tonga,1970,United Kingdom,United Kingdom,Oceania
12,Tuvalu,1978,United Kingdom,United Kingdom,Oceania
13,Vanuatu,1980,United Kingdom,United Kingdom,Oceania

In [33]:
# Filling main dataframe
map_fill(data, df, 'Country', ['Independence',
         'Independence From', 'Main Colonial Power', 'Continent'])

data

          Country Independence Independence From Main Colonial Power Continent
0     Afghanistan         1919    United Kingdom      United Kingdom      Asia
1         Albania          NaN               NaN                 NaN       NaN
2         Algeria         1962            France              France    Africa
3         Andorra          NaN               NaN                 NaN       NaN
4          Angola         1975          Portugal            Portugal    Africa
..            ...          ...               ...                 ...       ...
190  Vatican City          NaN               NaN                 NaN       NaN
191       Vietnam         1945            France              France      Asia
192         Yemen         1967    United Kingdom      United Kingdom      Asia
193        Zambia         1964    United Kingdom      United Kingdom    Africa
194      Zimbabwe         1980    United Kingdom      United Kingdom    Africa

[195 rows x 5 columns]

# Last Corrections

In [34]:
data

          Country Independence Independence From Main Colonial Power Continent
0     Afghanistan         1919    United Kingdom      United Kingdom      Asia
1         Albania          NaN               NaN                 NaN       NaN
2         Algeria         1962            France              France    Africa
3         Andorra          NaN               NaN                 NaN       NaN
4          Angola         1975          Portugal            Portugal    Africa
..            ...          ...               ...                 ...       ...
190  Vatican City          NaN               NaN                 NaN       NaN
191       Vietnam         1945            France              France      Asia
192         Yemen         1967    United Kingdom      United Kingdom      Asia
193        Zambia         1964    United Kingdom      United Kingdom    Africa
194      Zimbabwe         1980    United Kingdom      United Kingdom    Africa

[195 rows x 5 columns]

## Europe

In [35]:
url = 'https://en.wikipedia.org/wiki/List_of_sovereign_states_by_date_of_formation'

In [36]:
# Gets table
df = get_dataframe(get_tables(url)[3])[
    ['Country', 'Date of acquisition of sovereignty', 'Acquisition of sovereignty']]

# Rename columns to fit with the 'data' dataframe
df['Main Colonial Power'] = None
df = df.rename(columns={"Date of acquisition of sovereignty": 'Independence',
                        'Acquisition of sovereignty': 'Independence From'})

#
df['Independence'] = df['Independence'].str.split(expand=True)[2]

# Remove duplicates
df = df.drop_duplicates(['Country'], keep='last').reset_index(drop=True)

#
df['Continent'] = 'Europe'

# Cleaning column 'Country'
df['Country'] = df['Country'].str.replace('\xa0', '')

df

,Country,Independence,Independence From,Main Colonial Power,Continent
0,Albania,1944,Albanian state re-established after Italian/Ge...,None,Europe
1,Andorra,None,Independence from Aragon,None,Europe
2,Austria,1945,Restoration of the Republic of Austria,None,Europe
3,Belarus,1991,Independence recognized by Soviet Union,None,Europe
4,Belgium,1830,Independence was proclaimed by the provisonial...,None,Europe
5,Bosnia and Herzegovina,1992,Independence declared from the SFR Yugoslavia,None,Europe
6,Bulgaria,1908,Independence from Ottoman Empire,None,Europe
7,Croatia,None,Formation of Kingdom of Croatia by King Tomislav,None,Europe
8,Czech Republic,None,Creation of Czechoslovakia,None,Europe
9,Denmark,None,Harald Bluetooth unifies Denmark,None,Europe
10,Estonia,1991,Independence (from the Soviet Union) reasserte...,None,Europe
11,Finland,1918,Independence from Russia recognized by the hig...,None,Europe
12,France,1792,French Republic founded.,None,Europe
13,Germany,1991,Treaty on the Final Settlement with Respect to...,None,Europe
14,Greece,1830,Independence recognised by the London Protocol...,None,Europe
15,Hungary,None,Formation of the Kingdom of Hungary by Stephen...,None,Europe
16,Iceland,1944,Kingdom of Iceland becomes a Republic.,None,Europe
17,Ireland,1949,Republic of Ireland Act 1948 terminates the fu...,None,Europe
18,Italy,1945,Disestablishment of the German-backed Italian ...,None,Europe
19,Latvia,1990,Independence (from Soviet Union) reasserted,None,Europe
20,Liechtenstein,1813,Dissolution of the Confederation of the Rhine,None,Europe
21,Lithuania,1918,Independence declared from Germany and Russia,None,Europe
22,Luxembourg,None,End of German occupation during World War II,None,Europe
23,Malta,1964,Independence from United Kingdom,None,Europe
24,Moldova,1991,Independence from Soviet Union,None,Europe
25,Monaco,None,FranÃ§ois Grimaldi captures the fortress atop t...,None,Europe
26,Montenegro,2006,Declaration of independence from Serbia and Mo...,None,Europe
27,Netherlands,1945,Surrender of Nazi forces occupying the Netherl...,None,Europe
28,North Macedonia(until 2019 Republic of Macedonia),1991,"After a referendum, the Socialist Republic of ...",None,Europe
29,Norway,1945,German occupying forces surrender.,None,Europe
30,Poland,1918,Poland regains its independence.,None,Europe
31,Portugal,1143,Formation of Kingdom of Portugal by Treaty of ...,None,Europe
32,Romania,1878,International recognition by the Treaty of Ber...,None,Europe
33,San Marino,301,Independence from Roman Empire,None,Europe
34,Serbia,1878,International recognition by the Treaty of Ber...,None,Europe
35,Slovakia,1993,"Dissolution of Czechoslovakia, creating Slovak...",None,Europe
36,Slovenia,1991,Declaration of independence from Yugoslavia,None,Europe
37,Spain,None,Dissolution of crowns and kingdoms and creatio...,None,Europe
38,Sweden,1523,Gustav Vasa elected King of Sweden and marking...,None,Europe
39,Switzerland,1815,"Restoration of the Ancien RÃ©gime (federalism),...",None,Europe
40,Ukraine,1918,Ukraine declares independence as the Ukrainian...,None,Europe
41,United Kingdom,None,,None,Europe
42,Vatican City,1929,"Ratification of the Lateran Treaty, making the...",None,Europe

In [37]:
# 
df.iloc[8, 0] = 'Czechia'
df.iloc[28, 0] = 'North Macedonia'

In [38]:
#
df['Independence From'] = df['Independence From'].str.replace(
    "Independence From|the|declared|recognised|End of treaties with",
    "", case=False, regex=True)

df['Independence From'] = df['Independence From'].str.strip()

# 
df.loc[df['Independence From'].str.contains(
    "British|UK|United Kingdom"), ['Independence From', 'Main Colonial Power']] = 'United Kingdom'

# Former USSR
df.loc[df['Independence From'].str.contains(
    "Soviet"), 'Independence From'] = 'Soviet Union'

# Former Yugoslavia
df.loc[df['Independence From'].str.contains(
    "Yugoslavia"), 'Independence From'] = 'Yugoslavia'

In [39]:
# Corrections
# Albania
df.iloc[0, 1] = 1912

# Andorra
df.iloc[1, 1] = 1814
df.iloc[1, 2] = 'France'

# Austria
# Or 1920 from Austria-Hungary
df.iloc[2, 1] = 1945
df.iloc[2, 2] = 'Germany'

# Belgium (Declared: 1830 | Recognized: 1839)
# df.iloc[4, 1] = 1839

# Croatia
df.iloc[7, 1] = 1991
df.iloc[7, 2] = 'Yugoslavia'

# Czechoslovakia -> Czechia & Slovakia
# Or 1918 from Austria-Hungary
df.iloc[[8, 35], 1] = 1993
df.iloc[[8, 35], 2] = 'Czechoslovakia'

# Greece (Declared: 1822 | Recognized: 1830)
df.iloc[14, 1] = 1822

# Hungary
df.iloc[15, 1] = 1920
df.iloc[15, 2] = 'Austria-Hungary' # ?

# Iceland ('Independent' in a personal union: 1918 | Republic: 1944)
# df.iloc[16, 1] = 1918
df.iloc[16, 3] = 'Norway'

# Lithuania
df.iloc[21, 1] = 1990

# Luxembourg
df.iloc[22, 1] = 1890

# Monaco
df.iloc[25, 1] = 1814
df.iloc[25, 2] = 'France'

# Netherlands
df.iloc[27, 1] = 1581

# Norway
df.iloc[29, 1] = 1905
df.iloc[29, 2] = 'Sweden'

# Poland 
# Kingdom: 1916/1917 (From Germany)
# Second Republic: 1919 (From Germany | Treaty of Versailles)
# Post-War: 1947 (From Germany)
# Third Republic: 1989 (From ?)
df.iloc[30, 1] = 1918
df.iloc[30, 2] = 'Germany'

# Portugal
# First: 1143 from Leon
# Portuguese Restoration War: 1640
# End of the Iberian Union: 1668
df.iloc[31, 1] = 1668

# Romania
df.iloc[32, 1] = 1878

# Serbia and Montenegro -> Serbia (34) and Montenegro (26)
# For Serbia
# Treaty of Berlin: 1878 from the Ottoman Empire
# Yugoslavia: 1918 from Austria-Hungary
# Dissolution of Serbia and Montenegro: 2006
df.iloc[34, 1] = 2006
df.iloc[[26, 34], 2] = 'Serbia and Montenegro' # Or 'Serbia' or 'Yugoslavia'?

# Sweden
df.iloc[38, 1] = 1523

# Ukraine
df.iloc[40, 1] = 1991

# Vatican
df.iloc[42, 1] = 1929
df.iloc[42, 2] = 'Italy'

# From the Ottoman Empire
# Albania, Greece, Romania
df.iloc[[0, 14, 32], 2] = 'Ottoman Empire'

# From the Netherlands
# Belgium, Luxembourg
df.iloc[[4, 22], 2] = 'Netherlands'

# From Denmark
# Iceland, Sweden
df.iloc[[16, 38], 2] = 'Denmark'

# From the Soviet Union
# Lithuania, Ukraine
df.iloc[[21, 40], 2] = 'Soviet Union'

# From Spain
# Netherlands, Portugal
df.iloc[[27, 31], 2] = 'Spain'

# Not Colonized
df.iloc[[9, 12, 13, 18, 20, 37, 39, 41], [1, 2]] = 'Not Colonized'
df['Main Colonial Power'] = df['Main Colonial Power'].fillna('Not Colonized')

In [40]:
df

,Country,Independence,Independence From,Main Colonial Power,Continent
0,Albania,1912,Ottoman Empire,Not Colonized,Europe
1,Andorra,1814,France,Not Colonized,Europe
2,Austria,1945,Germany,Not Colonized,Europe
3,Belarus,1991,Soviet Union,Not Colonized,Europe
4,Belgium,1830,Netherlands,Not Colonized,Europe
5,Bosnia and Herzegovina,1992,Yugoslavia,Not Colonized,Europe
6,Bulgaria,1908,Ottoman Empire,Not Colonized,Europe
7,Croatia,1991,Yugoslavia,Not Colonized,Europe
8,Czechia,1993,Czechoslovakia,Not Colonized,Europe
9,Denmark,Not Colonized,Not Colonized,Not Colonized,Europe
10,Estonia,1991,Soviet Union,Not Colonized,Europe
11,Finland,1918,Soviet Union,Not Colonized,Europe
12,France,Not Colonized,Not Colonized,Not Colonized,Europe
13,Germany,Not Colonized,Not Colonized,Not Colonized,Europe
14,Greece,1822,Ottoman Empire,Not Colonized,Europe
15,Hungary,1920,Austria-Hungary,Not Colonized,Europe
16,Iceland,1944,Denmark,Norway,Europe
17,Ireland,1949,United Kingdom,United Kingdom,Europe
18,Italy,Not Colonized,Not Colonized,Not Colonized,Europe
19,Latvia,1990,Soviet Union,Not Colonized,Europe
20,Liechtenstein,Not Colonized,Not Colonized,Not Colonized,Europe
21,Lithuania,1990,Soviet Union,Not Colonized,Europe
22,Luxembourg,1890,Netherlands,Not Colonized,Europe
23,Malta,1964,United Kingdom,United Kingdom,Europe
24,Moldova,1991,Soviet Union,Not Colonized,Europe
25,Monaco,1814,France,Not Colonized,Europe
26,Montenegro,2006,Serbia and Montenegro,Not Colonized,Europe
27,Netherlands,1581,Spain,Not Colonized,Europe
28,North Macedonia,1991,Yugoslavia,Not Colonized,Europe
29,Norway,1905,Sweden,Not Colonized,Europe
30,Poland,1918,Germany,Not Colonized,Europe
31,Portugal,1668,Spain,Not Colonized,Europe
32,Romania,1878,Ottoman Empire,Not Colonized,Europe
33,San Marino,301,Roman Empire,Not Colonized,Europe
34,Serbia,2006,Serbia and Montenegro,Not Colonized,Europe
35,Slovakia,1993,Czechoslovakia,Not Colonized,Europe
36,Slovenia,1991,Yugoslavia,Not Colonized,Europe
37,Spain,Not Colonized,Not Colonized,Not Colonized,Europe
38,Sweden,1523,Denmark,Not Colonized,Europe
39,Switzerland,Not Colonized,Not Colonized,Not Colonized,Europe
40,Ukraine,1991,Soviet Union,Not Colonized,Europe
41,United Kingdom,Not Colonized,Not Colonized,Not Colonized,Europe
42,Vatican City,1929,Italy,Not Colonized,Europe

In [41]:
map_fill(data, df, 'Country', ['Independence',
         'Independence From', 'Main Colonial Power', 'Continent'])

data

          Country Independence Independence From Main Colonial Power Continent
0     Afghanistan         1919    United Kingdom      United Kingdom      Asia
1         Albania         1912    Ottoman Empire       Not Colonized    Europe
2         Algeria         1962            France              France    Africa
3         Andorra         1814            France       Not Colonized    Europe
4          Angola         1975          Portugal            Portugal    Africa
..            ...          ...               ...                 ...       ...
190  Vatican City         1929             Italy       Not Colonized    Europe
191       Vietnam         1945            France              France      Asia
192         Yemen         1967    United Kingdom      United Kingdom      Asia
193        Zambia         1964    United Kingdom      United Kingdom    Africa
194      Zimbabwe         1980    United Kingdom      United Kingdom    Africa

[195 rows x 5 columns]

# Finishing

In [42]:
# Data where any column is not filled
data[(data['Independence'].isnull()) |
     (data['Independence From'].isnull()) |
     (data['Main Colonial Power'].isnull()) |
     (data['Continent'].isnull())
     ]

         Country Independence Independence From Main Colonial Power Continent
7        Armenia          NaN               NaN                 NaN       NaN
10    Azerbaijan          NaN               NaN                 NaN       NaN
42        Cyprus          NaN               NaN                 NaN       NaN
45   North Korea          NaN               NaN                 NaN       NaN
65       Georgia          NaN               NaN                 NaN       NaN
88    Kazakhstan          NaN               NaN                 NaN       NaN
141  South Korea          NaN               NaN                 NaN       NaN
144       Russia          NaN               NaN                 NaN       NaN
180      TÃ¼rkiye          NaN               NaN                 NaN       NaN

In [43]:
# Koreas
data.loc[data['Country'].str.contains("Korea"), 'Independence'] = 1948
data.loc[data['Country'].str.contains("Korea"), 'Independence From'] = 'Japan'
data.loc[data['Country'].str.contains("Korea"), 'Main Colonial Power'] = 'Not Colonized'

In [44]:
# Armenia, Azerbaijan, Georgia, Kazakhstan
data.iloc[[7, 10, 63, 86], 1] = 1991
data.iloc[[7, 10, 63, 86], 2] = 'Soviet Union'
data.iloc[[10, 63, 86], 3] = 'Russia'

# Cyprus
data.iloc[41, 1] = 1960
data.iloc[41, [2, 3]] = 'United Kingdom'

# Armenia, Russia, Turkiye
data.iloc[[142, 180], [1, 2]] = 'Not Colonized'
data.iloc[[7, 142, 180], 3] = 'Not Colonized'

In [45]:
# Continents (Main continent)
# Asia (Armenia, Azerbaijan, Cyprus, Georgia, Kazakhstan, Koreas, Turkiye)
data.iloc[[7, 10, 41, 63, 86, 125, 160, 180], 4] = 'Asia'

# Europe
data['Continent'] = data['Continent'].fillna('Europe')

In [46]:
data[(data['Independence'].isnull()) |
     (data['Independence From'].isnull()) |
     (data['Main Colonial Power'].isnull()) |
     (data['Continent'].isnull())
     ]

        Country Independence Independence From Main Colonial Power Continent
42       Cyprus          NaN               NaN                 NaN    Europe
65      Georgia          NaN               NaN                 NaN    Europe
88   Kazakhstan          NaN               NaN                 NaN    Europe
144      Russia          NaN               NaN                 NaN    Europe

In [47]:
data.to_csv('../CSV/colonialism.csv')