- Study project of web scraping by gathering data about colonialism using Wikipedia articles
- Gathered data will be used for a map plotting study project

In [1]:
from table_scraping import *

# "Countries" dataframe

In [2]:
# Using the list of UN members as list of countries in the world
url = 'https://en.wikipedia.org/wiki/Member_states_of_the_United_Nations'
# url = 'https://en.wikipedia.org/wiki/List_of_sovereign_states_by_date_of_formation'

# Header for this page: <th scope="col"> | Cells in first column: <th scope="row">
data = get_dataframe(get_tables(url)[0], ['td', 'th'], {'scope' : 'col'})
data['Independence'] = np.nan
data['Independence From'] = np.nan
data['Main Colonial Power'] = np.nan

#
data = data.drop(['Date of admission', 'Original member', 'See also'], axis=1)
data = data.rename(columns={"Member state": 'Country'})
data

,Country,Independence,Independence From,Main Colonial Power
0,Afghanistan,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN
2,Algeria,NaN,NaN,NaN
3,Andorra,NaN,NaN,NaN
4,Angola,NaN,NaN,NaN
...,...,...,...,...
188,Bolivarian Republic of Venezuela,NaN,NaN,NaN
189,Viet Nam,NaN,NaN,NaN
190,Yemen,NaN,NaN,NaN
191,Zambia,NaN,NaN,NaN
192,Zimbabwe,NaN,NaN,NaN

In [3]:
# Renaming some countries
# Plurinational State of Bolivia
data.loc[data['Country'].str.contains(
    "Bolivia"), 'Country'] = 'Bolivia'  
# Brunei Darussalam
data.loc[data['Country'].str.contains(  
    "Brunei"), 'Country'] = 'Brunei'
# Congo
data.iloc[38, 0] = 'Republic of Congo'
# Democratic People's Republic of Korea
data.loc[data['Country'].str.contains(  
    "Democratic People's"), 'Country'] = 'North Korea'
# Islamic Republic of Iran
data.loc[data['Country'].str.contains(  
    "Iran"), 'Country'] = 'Iran'
# Lao People's Democratic Republic
data.loc[data['Country'].str.contains(  
    "Lao "), 'Country'] = 'Laos'
# Republic of Korea
data.loc[data['Country'].str.contains(  
    "Republic of Korea"), 'Country'] = 'South Korea'
# Republic of Moldova
data.loc[data['Country'].str.contains(  
    "Moldova"), 'Country'] = 'Moldova'
# Russian Federation
data.loc[data['Country'].str.contains(  
    "Russian"), 'Country'] = 'Russia'
# Syrian Arab Republic
data.loc[data['Country'].str.contains(  
    "Syrian"), 'Country'] = 'Syria'
# United Kingdom of Great Britain and Northern Ireland
data.loc[data['Country'].str.contains(  
    "United Kingdom"), 'Country'] = 'United Kingdom'
# United Republic of Tanzania
data.loc[data['Country'].str.contains(  
    "Tanzania"), 'Country'] = 'Tanzania'
# United States of America
data.loc[data['Country'].str.contains(
    "United States"), 'Country'] = 'United States'
# Bolivarian Republic of Venezuela
data.loc[data['Country'].str.contains(  
    "Venezuela"), 'Country'] = 'Venezuela'
# Viet Nam
data.loc[data['Country'].str.contains(
    "Viet"), 'Country'] = 'Vietnam'

data

         Country  Independence  Independence From  Main Colonial Power
0    Afghanistan           NaN                NaN                  NaN
1        Albania           NaN                NaN                  NaN
2        Algeria           NaN                NaN                  NaN
3        Andorra           NaN                NaN                  NaN
4         Angola           NaN                NaN                  NaN
..           ...           ...                ...                  ...
188    Venezuela           NaN                NaN                  NaN
189      Vietnam           NaN                NaN                  NaN
190        Yemen           NaN                NaN                  NaN
191       Zambia           NaN                NaN                  NaN
192     Zimbabwe           NaN                NaN                  NaN

[193 rows x 4 columns]

# Africa

In [4]:
url = 'https://en.wikipedia.org/wiki/Decolonisation_of_Africa'

In [5]:
# Gets table containing the dates and colonial powers of african countries
df = get_dataframe(get_tables(url)[6])
df

,Country,Date of acquisition of sovereignty,Acquisition of sovereignty
0,Algeria,3 July 1962,French recognition of Algerian referendum on i...
1,Angola,11 November 1975,Independence from Portugal
2,Benin,1 August 1960,Independence from France
3,Botswana,30 September 1966,Independence from the United Kingdom
4,Burkina Faso,5 August 1960,Independence from France
...,...,...,...
58,Uganda,1 March 1962,Self-government granted
59,Uganda,9 October 1962,Independence from the United Kingdom
60,Zambia,24 October 1964,Independence from the United Kingdom
61,Zimbabwe,11 November 1965,Unilateral declaration of independence by Sout...
62,Zimbabwe,18 April 1980,Recognized independence from the United Kingdo...

In [6]:
# Rename columns to fit with the 'data' dataframe
df = df.rename(columns={"Date of acquisition of sovereignty": 'Independence',
                       'Acquisition of sovereignty': 'Independence From'})

# Independence from date to just year
df['Independence'] = df['Independence'].str.split(expand=True)[2]

# Removes duplicates
df = df.drop_duplicates(
    ['Country'], keep='last').reset_index(drop=True)

# Get some colonial powers
df['Independence From'] = df['Independence From'].str.replace(
    "Independence From|independence from | independence from|the| declared| recognized", "", case=False, regex=True)

df['Independence From'] = df['Independence From'].str.strip()

# Corrections
# Algeria, Madagascar, Morocco
df.iloc[[0, 29, 34], 2] = 'France'

# Egypt, South Africa, Sudan, Tanzania, Zimbabwe
df.iloc[[14, 45, 47, 48, 53], 2] = 'United Kingdom'

# Ethiopia
df.iloc[18, [1, 2]] = 'Not Colonized'

# Liberia (Colonized by "American Colonization Society")
df.iloc[27]['Independence From'] = 'United States'

# Libya, Somalia
df.iloc[[28, 44], 2] = 'Italy'

# Namibia
df.iloc[36]['Independence From'] = 'South Africa'

# South Sudan
df.iloc[46]['Independence From'] = 'Sudan'

# Dates
# Libya (Declared: 1947 | Kingdom established: 1951)
# df.iloc[28]['Independence'] = 1947

# Malawi (Dominion: 1964 | Republic: 1966)
df.iloc[30]['Independence'] = 1966

# Mauritius (Elizabeth II as head of state: 1968 - 1992 | Republic: 1992)
# df.iloc[33]['Independence'] = 1992

# Morocco (End of the French Protectorate announced: 1955 | Declaration: 1956)
df.iloc[34]['Independence'] = 1956

# Sierra Leone (Dominion: 1961 | Republic: 1971)
df.iloc[43]['Independence'] = 1971

# South Africa (Statute of Westminster: 1931 | Republic: 1961)
df.iloc[45]['Independence'] = 1961

# Tanzania (Tanganyika: 1961 | Zanzibar: 1963 | Merger: 1964)
# df.iloc[48]['Independence'] = 1964

# Uganda (Dominion: 1962 | Republic: 1963)
df.iloc[51]['Independence'] = 1963

# Names
# Democratic Republic of Congo -> Democratic Republic of the Congo
df.iloc[11, 0] = "Democratic Republic of the Congo"

# Ivory Coast -> Côte d'Ivoire
df.iloc[24, 0] = "Côte d'Ivoire"

df

                             Country   Independence Independence From
0                            Algeria           1962            France
1                             Angola           1975          Portugal
2                              Benin           1960            France
3                           Botswana           1966    United Kingdom
4                       Burkina Faso           1960            France
5                            Burundi           1962           Belgium
6                         Cabo Verde           1975          Portugal
7                           Cameroon           1960            France
8           Central African Republic           1960            France
9                               Chad           1960            France
10                           Comoros           1975            France
11  Democratic Republic of the Congo           1960           Belgium
12                 Republic of Congo           1960            France
13                          Djibouti           1977            France
14                             Egypt           1922    United Kingdom
15                 Equatorial Guinea           1968             Spain
16                           Eritrea           1993          Ethiopia
17                          Eswatini           1968    United Kingdom
18                          Ethiopia  Not Colonized     Not Colonized
19                             Gabon           1960            France
20                            Gambia           1965    United Kingdom
21                             Ghana           1957    United Kingdom
22                            Guinea           1958            France
23                     Guinea-Bissau           1974          Portugal
24                     Côte d'Ivoire           1960            France
25                             Kenya           1963    United Kingdom
26                           Lesotho           1966    United Kingdom
27                           Liberia           1847     United States
28                             Libya           1951             Italy
29                        Madagascar           1960            France
30                            Malawi           1966    United Kingdom
31                              Mali           1960            France
32                        Mauritania           1960            France
33                         Mauritius           1968    United Kingdom
34                           Morocco           1956            France
35                        Mozambique           1975          Portugal
36                           Namibia           1990      South Africa
37                             Niger           1960            France
38                           Nigeria           1960    United Kingdom
39                            Rwanda           1962           Belgium
40             São Tomé and Príncipe           1975          Portugal
41                           Senegal           1960            France
42                        Seychelles           1976    United Kingdom
43                      Sierra Leone           1971    United Kingdom
44                           Somalia           1960             Italy
45                      South Africa           1961    United Kingdom
46                       South Sudan           2011             Sudan
47                             Sudan           1956    United Kingdom
48                          Tanzania           1961    United Kingdom
49                              Togo           1960            France
50                           Tunisia           1956            France
51                            Uganda           1963    United Kingdom
52                            Zambia           1964    United Kingdom
53                          Zimbabwe           1980    United Kingdom

In [7]:
df.iloc[-1, 0]

'\xa0Zimbabwe'

In [8]:
# Cleaning column 'Country'
df['Country'] = df['Country'].str.replace('\xa0', '')
df.iloc[-1, 0]

'Zimbabwe'

In [9]:
# Filling the main dataframe with collected data
map_fill(data, df, 'Country', ['Independence', 'Independence From'])

data

         Country Independence Independence From  Main Colonial Power
0    Afghanistan          NaN               NaN                  NaN
1        Albania          NaN               NaN                  NaN
2        Algeria         1962            France                  NaN
3        Andorra          NaN               NaN                  NaN
4         Angola         1975          Portugal                  NaN
..           ...          ...               ...                  ...
188    Venezuela          NaN               NaN                  NaN
189      Vietnam          NaN               NaN                  NaN
190        Yemen          NaN               NaN                  NaN
191       Zambia         1964    United Kingdom                  NaN
192     Zimbabwe         1980    United Kingdom                  NaN

[193 rows x 4 columns]

## Main Colonial Power

In [10]:
# Gets table containing the dates and colonial powers of african countries
df = get_dataframe(get_tables(url)[0])[['Country', 'Colonial power']]
df = df.rename(columns={'Colonial power': 'Main Colonial Power'})

df

,Country,Main Colonial Power
0,Liberia,United States
1,South Africa,United Kingdom
2,Egypt,United Kingdom
3,Ethiopian Empire,Kingdom of Italy United Kingdom
4,Eritrea,Italy
5,Emirate of Cyrenaica,United Kingdom
6,United Kingdom of Libya,United Kingdom French Fourth Republic Emirate...
7,Libya,Italy United Kingdom
8,Sudan,United Kingdom[q] Republic of Egypt
9,South Sudan,United Kingdom[q] Republic of Egypt
10,Tunisia,France United Kingdom
11,Morocco,France Spain
12,Ghana,United Kingdom
13,Guinea,France
14,Cameroon,Germany France United Kingdom
15,Togo,France
16,Mali,France
17,Senegal,France
18,Madagascar,France
19,Democratic Republic of the Congo,Belgium
20,Somalia,United Kingdom Italy
21,Republic of Dahomey,French Fifth Republic Portuguese Republic
22,Benin,France
23,Niger,France
24,Burkina Faso,France
25,Ivory Coast,France
26,Chad,France
27,Central African Republic,France
28,Republic of the Congo,France
29,Gabon,France
30,Nigeria,United Kingdom
31,Mauritania,France
32,Sierra Leone,United Kingdom
33,Tanganyika,United Kingdom
34,Burundi,Germany Belgium
35,Rwanda,Germany Belgium
36,Algeria,France
37,Uganda,United Kingdom
38,Kenya,United Kingdom
39,Sultanate of Zanzibar,United Kingdom
40,Malawi,United Kingdom
41,Zambia,United Kingdom
42,The Gambia,United Kingdom
43,Rhodesia Zimbabwe,United Kingdom
44,Botswana,United Kingdom
45,Lesotho,United Kingdom
46,Mauritius,United Kingdom
47,Eswatini,United Kingdom
48,Equatorial Guinea,Spain
49,Guinea-Bissau,Portugal
50,Mozambique,Portugal
51,Cape Verde,Portugal
52,Comoros,France
53,São Tomé and Príncipe,Portugal
54,Angola,Portugal
55,Seychelles,United Kingdom
56,Djibouti,France
57,Sahrawi Arab Democratic Republic,Spain Morocco Islamic Republic of Mauritania
58,Namibia,South Africa

In [11]:
df.iloc[-1, 0]

'\xa0Namibia'

In [12]:
# Cleaning column 'Country'
df['Country'] = df['Country'].str.replace('\xa0', '')
df.iloc[-1, 0]

'Namibia'

In [13]:
# Dropping unrecognized countries and countries that no longer exist
df = df.drop([5, 6, 21, 39, 57]).reset_index(drop=True)

In [14]:
# Corrections
df.iloc[3]['Country'] = 'Ethiopia'
df.iloc[3]['Main Colonial Power'] = 'Not Colonized'

df.iloc[30]['Country'] = 'Tanzania'
df.iloc[38]['Country'] = 'Gambia'
df.iloc[39]['Country'] = 'Zimbabwe'
df.iloc[47]['Country'] = 'Cabo Verde'

# Libya and Somalia
df.iloc[[5, 18], 1] = 'Italy'

# Sudan, South Sudan, and Namibia
df.iloc[[6, 7, 53], 1] = 'United Kingdom'

# Tunisia and Morocco
df.iloc[[8, 9], 1] = 'France'

# Cameroon, Burundi, and Ruanda
df.iloc[[12, 31, 32], 1] = 'Germany'

df

                             Country Main Colonial Power
0                            Liberia       United States
1                       South Africa      United Kingdom
2                              Egypt      United Kingdom
3                           Ethiopia       Not Colonized
4                            Eritrea               Italy
5                              Libya               Italy
6                              Sudan      United Kingdom
7                        South Sudan      United Kingdom
8                            Tunisia              France
9                            Morocco              France
10                             Ghana      United Kingdom
11                            Guinea              France
12                          Cameroon             Germany
13                              Togo              France
14                              Mali              France
15                           Senegal              France
16                        Madagascar              France
17  Democratic Republic of the Congo             Belgium
18                           Somalia               Italy
19                             Benin              France
20                             Niger              France
21                      Burkina Faso              France
22                       Ivory Coast              France
23                              Chad              France
24          Central African Republic              France
25             Republic of the Congo              France
26                             Gabon              France
27                           Nigeria      United Kingdom
28                        Mauritania              France
29                      Sierra Leone      United Kingdom
30                          Tanzania      United Kingdom
31                           Burundi             Germany
32                            Rwanda             Germany
33                           Algeria              France
34                            Uganda      United Kingdom
35                             Kenya      United Kingdom
36                            Malawi      United Kingdom
37                            Zambia      United Kingdom
38                            Gambia      United Kingdom
39                          Zimbabwe      United Kingdom
40                          Botswana      United Kingdom
41                           Lesotho      United Kingdom
42                         Mauritius      United Kingdom
43                          Eswatini      United Kingdom
44                 Equatorial Guinea               Spain
45                     Guinea-Bissau            Portugal
46                        Mozambique            Portugal
47                        Cabo Verde            Portugal
48                           Comoros              France
49             São Tomé and Príncipe            Portugal
50                            Angola            Portugal
51                        Seychelles      United Kingdom
52                          Djibouti              France
53                           Namibia      United Kingdom

In [15]:
# Filling main dataframe
map_fill(data, df, 'Country', ['Main Colonial Power'])
data

         Country Independence Independence From Main Colonial Power
0    Afghanistan          NaN               NaN                 NaN
1        Albania          NaN               NaN                 NaN
2        Algeria         1962            France              France
3        Andorra          NaN               NaN                 NaN
4         Angola         1975          Portugal            Portugal
..           ...          ...               ...                 ...
188    Venezuela          NaN               NaN                 NaN
189      Vietnam          NaN               NaN                 NaN
190        Yemen          NaN               NaN                 NaN
191       Zambia         1964    United Kingdom      United Kingdom
192     Zimbabwe         1980    United Kingdom      United Kingdom

[193 rows x 4 columns]

# America

In [16]:
url = 'https://en.wikipedia.org/wiki/Decolonization_of_the_Americas'

In [17]:
# Gets table containing the dates and colonial powers of american countries
df = get_dataframe(get_tables(url)[0])[
    ['Country', 'Colonial power', 'Independence date']]
df['Independence From'] = np.nan
df =  df.sort_values('Country').reset_index(drop=True)
df

,Country,Colonial power,Independence date,Independence From
0,Antigua and Barbuda,United Kingdom,"November 1, 1981",NaN
1,Argentina,Spanish Empire,"May 25, 1810; July 9, 1816",NaN
2,Bahamas,United Kingdom,"July 10, 1973",NaN
3,Barbados,United Kingdom,"November 30, 1966",NaN
4,Belize,United Kingdom,"September 21, 1981",NaN
5,Bolivia,Spanish Empire,"August 6, 1825",NaN
6,Brazil,Portuguese Empire,"August 29, 1825",NaN
7,Canada,United Kingdom,"July 1, 1867",NaN
8,Chile,Spanish Empire,"February 12, 1818",NaN
9,Colombiaas part of Gran Colombia,Spanish Empire,"August 7, 1819",NaN
10,Costa Ricaas part of Federal Republic of Cen...,Spanish Empire,"September 15, 1821",NaN
11,Cuba,Spain,"December 10, 1898",NaN
12,Dominica,United Kingdom,"November 3, 1978",NaN
13,Dominican Republic,Spanish Empire,"August 16, 1865",NaN
14,Dominican Republic,Spanish Empire,"November 20, 1821",NaN
15,Ecuadoras part of Gran Colombia,Spanish Empire,"May 24, 1822",NaN
16,El Salvadoras part of Federal Republic of Ce...,Spanish Empire,"September 15, 1821",NaN
17,Grenada,United Kingdom,"February 7, 1974",NaN
18,Guatemalaas part of Federal Republic of Cent...,Spanish Empire,"September 15, 1821",NaN
19,Guyana,United Kingdom,"May 26, 1966",NaN
20,Haiti,Kingdom of France (until 1792) French First ...,"January 1, 1804",NaN
21,Hondurasas part of Federal Republic of Centr...,Spanish Empire,"September 15, 1821",NaN
22,Jamaica,United Kingdom,"August 6, 1962",NaN
23,Mexico,Spanish Empire,"September 27, 1821",NaN
24,Nicaraguaas part of Federal Republic of Cent...,Spanish Empire,"September 15, 1821",NaN
25,Panamaas part of Gran Colombia,Spanish Empire,"November 28, 1821",NaN
26,Paraguay,Spanish Empire,"May 14, 1811",NaN
27,Peru,Spanish Empire,"December 9, 1824",NaN
28,Saint Kitts and Nevis,United Kingdom,"September 19, 1983",NaN
29,Saint Lucia,United Kingdom,"February 22, 1979",NaN
30,Saint Vincent and the Grenadines,United Kingdom,"October 27, 1979",NaN
31,Suriname,Netherlands,"November 25, 1975",NaN
32,Trinidad and Tobago,United Kingdom,"August 31, 1962",NaN
33,United States,British Empire,"July 4, 1776; September 3, 1783",NaN
34,Uruguay,Spanish Empire; Empire of Brazil,"May 18, 1811; August 27, 1828",NaN
35,Venezuelaas part of Gran Colombia,Spanish Empire,"June 24, 1821",NaN

In [18]:
df.iloc[0, 0]

'\xa0Antigua and Barbuda'

In [19]:
# Cleaning column 'Country'
df['Country'] = df['Country'].str.replace('\xa0', '')
df.iloc[0, 0]

'Antigua and Barbuda'

In [20]:
# Rename columns to fit with the 'data' dataframe
df = df.rename(columns={"Independence date": 'Independence',
                                  'Colonial power': 'Main Colonial Power'})

# Independence from date to just year
df['Independence'] = df['Independence'].str.split(expand=True)[2]
df['Independence'] = df['Independence'].str.replace(';', '')

# Dropping second Dominican Republic independence
df = df.drop(13).reset_index(drop=True)

df

,Country,Main Colonial Power,Independence,Independence From
0,Antigua and Barbuda,United Kingdom,1981,NaN
1,Argentina,Spanish Empire,1810,NaN
2,Bahamas,United Kingdom,1973,NaN
3,Barbados,United Kingdom,1966,NaN
4,Belize,United Kingdom,1981,NaN
5,Bolivia,Spanish Empire,1825,NaN
6,Brazil,Portuguese Empire,1825,NaN
7,Canada,United Kingdom,1867,NaN
8,Chile,Spanish Empire,1818,NaN
9,Colombiaas part of Gran Colombia,Spanish Empire,1819,NaN
10,Costa Ricaas part of Federal Republic of Cent...,Spanish Empire,1821,NaN
11,Cuba,Spain,1898,NaN
12,Dominica,United Kingdom,1978,NaN
13,Dominican Republic,Spanish Empire,1821,NaN
14,Ecuadoras part of Gran Colombia,Spanish Empire,1822,NaN
15,El Salvadoras part of Federal Republic of Cen...,Spanish Empire,1821,NaN
16,Grenada,United Kingdom,1974,NaN
17,Guatemalaas part of Federal Republic of Centr...,Spanish Empire,1821,NaN
18,Guyana,United Kingdom,1966,NaN
19,Haiti,Kingdom of France (until 1792) French First ...,1804,NaN
20,Hondurasas part of Federal Republic of Centra...,Spanish Empire,1821,NaN
21,Jamaica,United Kingdom,1962,NaN
22,Mexico,Spanish Empire,1821,NaN
23,Nicaraguaas part of Federal Republic of Centr...,Spanish Empire,1821,NaN
24,Panamaas part of Gran Colombia,Spanish Empire,1821,NaN
25,Paraguay,Spanish Empire,1811,NaN
26,Peru,Spanish Empire,1824,NaN
27,Saint Kitts and Nevis,United Kingdom,1983,NaN
28,Saint Lucia,United Kingdom,1979,NaN
29,Saint Vincent and the Grenadines,United Kingdom,1979,NaN
30,Suriname,Netherlands,1975,NaN
31,Trinidad and Tobago,United Kingdom,1962,NaN
32,United States,British Empire,1776,NaN
33,Uruguay,Spanish Empire; Empire of Brazil,1811,NaN
34,Venezuelaas part of Gran Colombia,Spanish Empire,1821,NaN

In [21]:
# Obtaining the correct name for some countries 
df['Country'] = df['Country'].str.replace(
    "as part of | Federal Republic of Central America|Gran Colombia", "", case=False, regex=True)

# Get some colonial powers
df['Main Colonial Power'] = df['Main Colonial Power'].str.replace(
    " Empire|Empire ", "", case=False, regex=True)

df['Main Colonial Power'] = df['Main Colonial Power'].str.strip()

df['Main Colonial Power'] = df['Main Colonial Power'].str.replace(
    "British", "United Kingdom", case=False)
df['Main Colonial Power'] = df['Main Colonial Power'].str.replace(
    "Spanish", "Spain", case=False)
df['Main Colonial Power'] = df['Main Colonial Power'].str.replace(
    "Portuguese", "Portugal", case=False)

In [22]:
# Corrections
df['Independence From'] = df['Main Colonial Power']

# Argentina (Declared)
df.iloc[1, 2] = 1816

# Bolivia (Declared: 1825 | Recognized: 1847)
# df.iloc[5, 2] = 1825

# Brazil (Declared: 1822 | Recognized: 1825)
df.iloc[6, 2] = 1822

# Canada (Confederation: 1867 | Westminster: 1931 | Patriation: 1982)
df.iloc[7, 2] = 1982

# Chile (Declared: 1818 | Recognized: 1844)
# df.iloc[8, 2] = 1818

# Colombia (Declared: 1810 | Recognized: 1819)
df.iloc[9, 2] = 1810

# Cuba
df.iloc[11, 2] = 1902
df.iloc[11, 3] = 'United States'

# Dominican Republic (4 times)
# From Spain in 1821 | From Haiti in 1844
# From Spain in 1865 | From USA in 1924
# df.iloc[13, 3] = 'Haiti'
# df.iloc[13, 3] = 'United States'

# Haiti
# Occupied by USA from 1915 to 1934
df.iloc[19, 1] = 'France'
df.iloc[19, 3] = 'France'

# Panama (From Spain: 1821 | From Colombia: 1903)
df.iloc[24, 2] = 1903
df.iloc[24, 3] = 'Colombia'

# Uruguai
df.iloc[33, 1] = 'Spain'
df.iloc[33, 3] = 'Brazil'

df

,Country,Main Colonial Power,Independence,Independence From
0,Antigua and Barbuda,United Kingdom,1981,United Kingdom
1,Argentina,Spain,1816,Spain
2,Bahamas,United Kingdom,1973,United Kingdom
3,Barbados,United Kingdom,1966,United Kingdom
4,Belize,United Kingdom,1981,United Kingdom
5,Bolivia,Spain,1825,Spain
6,Brazil,Portugal,1822,Portugal
7,Canada,United Kingdom,1982,United Kingdom
8,Chile,Spain,1818,Spain
9,Colombia,Spain,1810,Spain
10,Costa Rica,Spain,1821,Spain
11,Cuba,Spain,1902,United States
12,Dominica,United Kingdom,1978,United Kingdom
13,Dominican Republic,Spain,1821,Spain
14,Ecuador,Spain,1822,Spain
15,El Salvador,Spain,1821,Spain
16,Grenada,United Kingdom,1974,United Kingdom
17,Guatemala,Spain,1821,Spain
18,Guyana,United Kingdom,1966,United Kingdom
19,Haiti,France,1804,France
20,Honduras,Spain,1821,Spain
21,Jamaica,United Kingdom,1962,United Kingdom
22,Mexico,Spain,1821,Spain
23,Nicaragua,Spain,1821,Spain
24,Panama,Spain,1903,Colombia
25,Paraguay,Spain,1811,Spain
26,Peru,Spain,1824,Spain
27,Saint Kitts and Nevis,United Kingdom,1983,United Kingdom
28,Saint Lucia,United Kingdom,1979,United Kingdom
29,Saint Vincent and the Grenadines,United Kingdom,1979,United Kingdom
30,Suriname,Netherlands,1975,Netherlands
31,Trinidad and Tobago,United Kingdom,1962,United Kingdom
32,United States,United Kingdom,1776,United Kingdom
33,Uruguay,Spain,1811,Brazil
34,Venezuela,Spain,1821,Spain

In [23]:
map_fill(data, df, 'Country', ['Independence', 'Independence From', 'Main Colonial Power'])

data

         Country Independence Independence From Main Colonial Power
0    Afghanistan          NaN               NaN                 NaN
1        Albania          NaN               NaN                 NaN
2        Algeria         1962            France              France
3        Andorra          NaN               NaN                 NaN
4         Angola         1975          Portugal            Portugal
..           ...          ...               ...                 ...
188    Venezuela         1821             Spain               Spain
189      Vietnam          NaN               NaN                 NaN
190        Yemen          NaN               NaN                 NaN
191       Zambia         1964    United Kingdom      United Kingdom
192     Zimbabwe         1980    United Kingdom      United Kingdom

[193 rows x 4 columns]

# Asia

In [24]:
url = 'https://en.wikipedia.org/wiki/Decolonisation_of_Asia'

In [25]:
# Gets table containing the dates and colonial powers of asian countries
df = get_dataframe(get_tables(url)[0])

# Rename columns to fit with the 'data' dataframe
df['Main Colonial Power'] = None
df = df.rename(columns={"Date of acquisition of sovereignty": 'Independence',
                        'Acquisition of sovereignty': 'Independence From'})
# 
df['Independence'] = df['Independence'].str.split(expand=True)[2]
df.iloc[7, 0] = 'China'

# Remove duplicates
df = df.drop_duplicates(['Country'], keep='last').reset_index(drop = True)

df

,Country,Independence,Independence From,Main Colonial Power
0,Afghanistan,None,Treaty of Rawalpindi ends British control of f...,None
1,Bahrain,1971,End of treaties with the United Kingdom,None
2,Bangladesh,1971,Independence from Pakistan declared,None
3,Bhutan,None,Ugyen Wangchuck ends a period of civil war and...,None
4,Brunei,1984,Brunei regains its independence after an agree...,None
5,Cambodia,1989,Becomes free from Vietnamese occupation; it ge...,None
6,China,None,"In 221 BC, Qin Shi Huang conquered the various...",None
7,India,1947,Independence from the British Empire,None
8,Indonesia,1949,Independence from the Kingdom of the Netherlan...,None
9,Iran,None,After the fall of Assyria between 616 BC and 6...,None
10,Iraq,1932,Kingdom of Iraq,None
11,Israel,1948,"Upon the end of the British Mandate, Jews decl...",None
12,Japan,CE,"During the subsequent Kofun period, most of Ja...",None
13,Jordan,1946,End of the British Mandate for Palestine,None
14,Kuwait,None,Establishment of the Sheikhdom of Kuwait,None
15,Kyrgyzstan,1991,Independence from the Soviet Union,None
16,Laos,1953,Independence from France,None
17,Lebanon,1943,Independence from France recognised,None
18,Malaysia,1963,Malaysia was formed by the federation of North...,None
19,Maldives,1965,Independence from the United Kingdom,None
20,Mongolia,1911,Proclamation of Mongolian independence from Ma...,None
21,Myanmar,1948,Myanmar (Burma) declares independence from the...,None
22,Nepal,1768,Nepali unification,None
23,Oman,1650,Expulsion of the Portuguese,None
24,Pakistan,1947,Independence from British India in the Partition,None
25,Palestine,1988,Palestinian Declaration of Independence,None
26,Philippines,1946,The United States recognises independence unde...,None
27,Qatar,1878,Independence from the Ottoman Empire,None
28,Saudi Arabia,None,Establishment of the First Saudi State,None
29,Singapore,1965,Malaysia unilaterally expels Singapore from th...,None
30,Sri Lanka,1948,Independence from the United Kingdom,None
31,Syria,1961,End of the United Arab Republic,None
32,Tajikistan,1991,Independence from the Soviet Union,None
33,Thailand,1767,"King Taksin the Great reunifies Thailand, esta...",None
34,Timor-Leste,2002,Independence was recognised by the internation...,None
35,Turkmenistan,1991,Independence from the Soviet Union,None
36,United Arab Emirates,1971,End of a treaty relationship with the United K...,None
37,Uzbekistan,1991,Independence from the Soviet Union declared,None
38,Vietnam,None,"Hùng king established Van Lang, the first king...",None
39,Yemen,1967,South Yemen independence from the United Kingdom,None

In [26]:
df.iloc[0, 0]

'\xa0Afghanistan'

In [27]:
# Cleaning column 'Country'
df['Country'] = df['Country'].str.replace('\xa0', '')
df.iloc[0, 0]

'Afghanistan'

In [28]:
# Get some colonial powers
df['Independence From'] = df['Independence From'].str.replace(
    "Independence From|independence from | independence from|the| declared| recognized|End of treaties with ",
    "", case=False, regex=True)

df['Independence From'] = df['Independence From'].str.strip()

df.loc[df['Independence From'].str.contains(
    "British|United Kingdom"), ['Independence From', 'Main Colonial Power']] = 'United Kingdom'

df.loc[df['Independence From'].str.contains(
    "Soviet"), 'Main Colonial Power'] = 'Russia'

df.loc[df['Independence From'].str.contains(
    "Netherlands"), ['Independence From', 'Main Colonial Power']] = 'Netherlands'

In [29]:
# Corrections
# Afghanistan
df.iloc[0, 1] = 1919

# Bangladesh
df.iloc[2, 3] = 'United Kingdom'

# Bhutan, Japan, China, Iran, Nepal, Saudi Arabia, Thailand
df.iloc[[3, 6, 9, 12, 22, 28, 33], [1, 2, 3]] = 'Not Colonized'

# Cambodia
df.iloc[5, 1] = 1953

# Kuwait
df.iloc[14, 1] = 1961

# Malaysia
df.iloc[18, 1] = 1963

# Mongolia
df.iloc[20, [2, 3]] = 'China'

# Oman
df.iloc[23, 1] = 1970

# Philippines
df.iloc[26, 2] = 'United States'
df.iloc[26, 3] = 'Spain'

# Qatar
df.iloc[27, 1] = 1971

# Singapore
df.iloc[29, 1] = 1965
df.iloc[29, 2] = 'Malaysia'
df.iloc[29, 3] = 'United Kingdom'

# Syria
df.iloc[31, 1] = 1946

# Timor-Leste (From Portugal: 1975 | From Indonesia: 2002)
df.iloc[34, 2] = 'Indonesia'
df.iloc[34, 3] = 'Portugal'

# Vietnam
df.iloc[38, 1] = 1945

# Yemen (North: 1918 | South: 1967 | Unification: 1990)
# df.iloc[39, 1] = 1990

#
# Iraq, Kuwait, Malaysia, Oman, Palestine, Qatar
df.iloc[[10, 14, 18, 23, 25, 27], [2, 3]] = 'United Kingdom'

# Cambodia, Syria, Vietnam
df.iloc[[5, 31, 38], [2, 3]] = 'France'

df['Main Colonial Power'] = df['Main Colonial Power'].fillna(df['Independence From'])

In [30]:
df

,Country,Independence,Independence From,Main Colonial Power
0,Afghanistan,1919,United Kingdom,United Kingdom
1,Bahrain,1971,United Kingdom,United Kingdom
2,Bangladesh,1971,Pakistan,United Kingdom
3,Bhutan,Not Colonized,Not Colonized,Not Colonized
4,Brunei,1984,United Kingdom,United Kingdom
5,Cambodia,1953,France,France
6,China,Not Colonized,Not Colonized,Not Colonized
7,India,1947,United Kingdom,United Kingdom
8,Indonesia,1949,Kingdom of Nerlands following ir unilateral P...,Kingdom of Nerlands following ir unilateral P...
9,Iran,Not Colonized,Not Colonized,Not Colonized
10,Iraq,1932,United Kingdom,United Kingdom
11,Israel,1948,United Kingdom,United Kingdom
12,Japan,Not Colonized,Not Colonized,Not Colonized
13,Jordan,1946,United Kingdom,United Kingdom
14,Kuwait,1961,United Kingdom,United Kingdom
15,Kyrgyzstan,1991,Soviet Union,Russia
16,Laos,1953,France,France
17,Lebanon,1943,France recognised,France recognised
18,Malaysia,1963,United Kingdom,United Kingdom
19,Maldives,1965,United Kingdom,United Kingdom
20,Mongolia,1911,China,China
21,Myanmar,1948,United Kingdom,United Kingdom
22,Nepal,Not Colonized,Not Colonized,Not Colonized
23,Oman,1970,United Kingdom,United Kingdom
24,Pakistan,1947,United Kingdom,United Kingdom
25,Palestine,1988,United Kingdom,United Kingdom
26,Philippines,1946,United States,Spain
27,Qatar,1971,United Kingdom,United Kingdom
28,Saudi Arabia,Not Colonized,Not Colonized,Not Colonized
29,Singapore,1965,Malaysia,United Kingdom
30,Sri Lanka,1948,United Kingdom,United Kingdom
31,Syria,1946,France,France
32,Tajikistan,1991,Soviet Union,Russia
33,Thailand,Not Colonized,Not Colonized,Not Colonized
34,Timor-Leste,2002,Indonesia,Portugal
35,Turkmenistan,1991,Soviet Union,Russia
36,United Arab Emirates,1971,United Kingdom,United Kingdom
37,Uzbekistan,1991,Soviet Union,Russia
38,Vietnam,1945,France,France
39,Yemen,1967,United Kingdom,United Kingdom

In [31]:
map_fill(data, df, 'Country', ['Independence',
         'Independence From', 'Main Colonial Power'])

data

         Country Independence Independence From Main Colonial Power
0    Afghanistan         1919    United Kingdom      United Kingdom
1        Albania          NaN               NaN                 NaN
2        Algeria         1962            France              France
3        Andorra          NaN               NaN                 NaN
4         Angola         1975          Portugal            Portugal
..           ...          ...               ...                 ...
188    Venezuela         1821             Spain               Spain
189      Vietnam         1945            France              France
190        Yemen         1967    United Kingdom      United Kingdom
191       Zambia         1964    United Kingdom      United Kingdom
192     Zimbabwe         1980    United Kingdom      United Kingdom

[193 rows x 4 columns]

# Oceania

In [32]:
url = 'https://en.wikipedia.org/wiki/Decolonisation_of_Oceania'

In [33]:
# # Another possible table
# df = get_dataframe(get_tables(url)[0], ['td', 'th'], {'scope': 'col'})[['Country', 'Colonial power', 'Independence date']]

# df['Independence From'] = None
# df = df.rename(columns={'Independence date': 'Independence',
#                         'Colonial power': 'Main Colonial Power'})

# df['Independence'] = df['Independence'].str.split(expand=True)[2]

# df

In [34]:
# Gets table
df = get_dataframe(get_tables(url)[1])[['Country', 'Date of acquisition of sovereignty', 'Acquisition of sovereignty']]

# Rename columns to fit with the 'data' dataframe
df['Main Colonial Power'] = None
df = df.rename(columns={"Date of acquisition of sovereignty": 'Independence',
                        'Acquisition of sovereignty': 'Independence From'})

df['Independence'] = df['Independence'].str.split(expand=True)[2]

# Remove duplicates
df = df.drop_duplicates(['Country'], keep='last').reset_index(drop=True)

df

,Country,Independence,Independence From,Main Colonial Power
0,Australia,1986,Australia Act 1986 – Remaining legal ties betw...,None
1,Fiji,1970,Independence from the United Kingdom,None
2,Kiribati,1979,Independence from the United Kingdom,None
3,Marshall Islands,1986,Compact of Free Association with the United St...,None
4,Federated States of Micronesia,1986,Compact of Free Association with the United St...,None
5,Nauru,1968,"Independence from UN Trusteeship (Australian, ...",None
6,New Zealand,1967,Governor-General becomes a New Zealand appoint...,None
7,Palau,1994,Emerged from United Nations trusteeship (admin...,None
8,Papua New Guinea,1975,Independence from Australia,None
9,Samoa,1962,Independence from New Zealand,None
10,Solomon Islands,1978,Independence from the United Kingdom,None
11,Tonga,1970,Independence from the United Kingdom,None
12,Tuvalu,1978,Independence from the United Kingdom,None
13,Vanuatu,1980,Independence from joint British-French condomi...,None

In [35]:
df.iloc[0, 0]

'\xa0Australia'

In [36]:
# Cleaning column 'Country'
df['Country'] = df['Country'].str.replace('\xa0', '')
df.iloc[0, 0]

'Australia'

In [37]:
# Get some colonial powers
df['Independence From'] = df['Independence From'].str.replace(
    "Independence From|the | declared| recognized| recognised|End of treaties with ",
    "", case=False, regex=True)

df['Independence From'] = df['Independence From'].str.strip()

df.loc[df['Independence From'].str.contains(
    "British|UK|United Kingdom"), ['Independence From', 'Main Colonial Power']] = 'United Kingdom'

In [38]:
# Corrections
# Marshall Islands, Federated States of Micronesia, Palau
df.iloc[[3, 4, 7], 2] = 'United States'
df.iloc[[3, 4, 7], 3] = 'Spain'

# New Zealand (Westminster: 1947)
df.iloc[6, 1] = 1947
df.iloc[6, [2, 3]] = 'United Kingdom'

# Papua New Guinea, Samoa
df.iloc[[8, 9], 3] = 'Germany'

In [39]:
df

,Country,Independence,Independence From,Main Colonial Power
0,Australia,1986,United Kingdom,United Kingdom
1,Fiji,1970,United Kingdom,United Kingdom
2,Kiribati,1979,United Kingdom,United Kingdom
3,Marshall Islands,1986,United States,Spain
4,Federated States of Micronesia,1986,United States,Spain
5,Nauru,1968,United Kingdom,United Kingdom
6,New Zealand,1947,United Kingdom,United Kingdom
7,Palau,1994,United States,Spain
8,Papua New Guinea,1975,Australia,Germany
9,Samoa,1962,New Zealand,Germany
10,Solomon Islands,1978,United Kingdom,United Kingdom
11,Tonga,1970,United Kingdom,United Kingdom
12,Tuvalu,1978,United Kingdom,United Kingdom
13,Vanuatu,1980,United Kingdom,United Kingdom

In [40]:
map_fill(data, df, 'Country', ['Independence',
         'Independence From', 'Main Colonial Power'])

data

         Country Independence Independence From Main Colonial Power
0    Afghanistan         1919    United Kingdom      United Kingdom
1        Albania          NaN               NaN                 NaN
2        Algeria         1962            France              France
3        Andorra          NaN               NaN                 NaN
4         Angola         1975          Portugal            Portugal
..           ...          ...               ...                 ...
188    Venezuela         1821             Spain               Spain
189      Vietnam         1945            France              France
190        Yemen         1967    United Kingdom      United Kingdom
191       Zambia         1964    United Kingdom      United Kingdom
192     Zimbabwe         1980    United Kingdom      United Kingdom

[193 rows x 4 columns]

# Last Corrections

In [46]:
data[data['Independence'].isnull()]

                    Country Independence Independence From Main Colonial Power
1                   Albania          NaN               NaN                 NaN
3                   Andorra          NaN               NaN                 NaN
9                   Austria          NaN               NaN                 NaN
15                  Belarus          NaN               NaN                 NaN
16                  Belgium          NaN               NaN                 NaN
21   Bosnia and Herzegovina          NaN               NaN                 NaN
25                 Bulgaria          NaN               NaN                 NaN
41                  Croatia          NaN               NaN                 NaN
44                  Czechia          NaN               NaN                 NaN
47                  Denmark          NaN               NaN                 NaN
56                  Estonia          NaN               NaN                 NaN
60                  Finland          NaN               NaN                 NaN
61                   France          NaN               NaN                 NaN
64                  Georgia          NaN               NaN                 NaN
65                  Germany          NaN               NaN                 NaN
67                   Greece          NaN               NaN                 NaN
75                  Hungary          NaN               NaN                 NaN
76                  Iceland          NaN               NaN                 NaN
81                  Ireland          NaN               NaN                 NaN
83                    Italy          NaN               NaN                 NaN
93                   Latvia          NaN               NaN                 NaN
98            Liechtenstein          NaN               NaN                 NaN
99                Lithuania          NaN               NaN                 NaN
100              Luxembourg          NaN               NaN                 NaN
112                  Monaco          NaN               NaN                 NaN
114              Montenegro          NaN               NaN                 NaN
121             Netherlands          NaN               NaN                 NaN
126         North Macedonia          NaN               NaN                 NaN
127                  Norway          NaN               NaN                 NaN
136                  Poland          NaN               NaN                 NaN
137                Portugal          NaN               NaN                 NaN
140                 Moldova          NaN               NaN                 NaN
141                 Romania          NaN               NaN                 NaN
142                  Russia          NaN               NaN                 NaN
148              San Marino          NaN               NaN                 NaN
152                  Serbia          NaN               NaN                 NaN
156                Slovakia          NaN               NaN                 NaN
157                Slovenia          NaN               NaN                 NaN
162                   Spain          NaN               NaN                 NaN
166                  Sweden          NaN               NaN                 NaN
167             Switzerland          NaN               NaN                 NaN
176                 Türkiye          NaN               NaN                 NaN
180                 Ukraine          NaN               NaN                 NaN
182          United Kingdom          NaN               NaN                 NaN

In [42]:
# Armenia, Azerbaijan, Kazakhstan
data.iloc[[7, 10, 87], 1] = 1991
data.iloc[[7, 10, 87], 2] = 'Soviet Union'
data.iloc[[7, 10, 87], 3] = 'Russia'

# Cyprus
data.iloc[43, 1] = 1960

# Malta
data.iloc[106, 1] = 1964

#
# Cyprus, Malta
data.iloc[[43, 106], [2, 3]] = 'United Kingdom'

In [45]:
# Koreas
data.loc[data['Country'].str.contains(
    "Korea"), ['Independence', 'Independence From', 'Main Colonial Power']] = 'Not Colonized'

In [ ]:
# data.to_csv('data.csv')