- Study project of web scraping by gathering data about colonialism using Wikipedia articles
- Gathered data will be used for a map plotting study project

In [29]:
from table_scraping import *

# "Countries" dataframe

In [30]:
# Using the list of UN members as list of countries in the world
url = 'https://en.wikipedia.org/wiki/Member_states_of_the_United_Nations'

# Header for this page: <th scope="col"> | Cells in first column: <th scope="row">
data = get_dataframe(get_tables(url)[0], ['td', 'th'], {'scope' : 'col'})
data['Independence'] = np.nan
data['Independence From'] = np.nan
data['Main Colonial Power'] = np.nan

#
data = data.drop(['Date of admission', 'Original member', 'See also'], axis=1)
data = data.rename(columns={"Member state": 'Country'})
data

,Country,Independence,Independence From,Main Colonial Power
0,Afghanistan,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN
2,Algeria,NaN,NaN,NaN
3,Andorra,NaN,NaN,NaN
4,Angola,NaN,NaN,NaN
...,...,...,...,...
188,Bolivarian Republic of Venezuela,NaN,NaN,NaN
189,Viet Nam,NaN,NaN,NaN
190,Yemen,NaN,NaN,NaN
191,Zambia,NaN,NaN,NaN
192,Zimbabwe,NaN,NaN,NaN

In [31]:
# Renaming some countries
# Plurinational State of Bolivia
data.loc[data['Country'].str.contains(
    "Bolivia"), 'Country'] = 'Bolivia'  
# Brunei Darussalam
data.loc[data['Country'].str.contains(  
    "Brunei"), 'Country'] = 'Brunei'
# Democratic People's Republic of Korea
data.loc[data['Country'].str.contains(  
    "Democratic People's"), 'Country'] = 'North Korea'
# Islamic Republic of Iran
data.loc[data['Country'].str.contains(  
    "Iran"), 'Country'] = 'Iran'
# Lao People's Democratic Republic
data.loc[data['Country'].str.contains(  
    "Lao "), 'Country'] = 'Laos'
# Republic of Korea
data.loc[data['Country'].str.contains(  
    "Republic of Korea"), 'Country'] = 'South Korea'
# Republic of Moldova
data.loc[data['Country'].str.contains(  
    "Moldova"), 'Country'] = 'Moldova'
# Russian Federation
data.loc[data['Country'].str.contains(  
    "Russian"), 'Country'] = 'Russia'
# Syrian Arab Republic
data.loc[data['Country'].str.contains(  
    "Syrian"), 'Country'] = 'Syria'
# United Kingdom of Great Britain and Northern Ireland
data.loc[data['Country'].str.contains(  
    "United Kingdom"), 'Country'] = 'United Kingdom'
# United Republic of Tanzania
data.loc[data['Country'].str.contains(  
    "Tanzania"), 'Country'] = 'Tanzania'
# Bolivarian Republic of Venezuela
data.loc[data['Country'].str.contains(  
    "Venezuela"), 'Country'] = 'Venezuela'

data

         Country  Independence  Independence From  Main Colonial Power
0    Afghanistan           NaN                NaN                  NaN
1        Albania           NaN                NaN                  NaN
2        Algeria           NaN                NaN                  NaN
3        Andorra           NaN                NaN                  NaN
4         Angola           NaN                NaN                  NaN
..           ...           ...                ...                  ...
188    Venezuela           NaN                NaN                  NaN
189     Viet Nam           NaN                NaN                  NaN
190        Yemen           NaN                NaN                  NaN
191       Zambia           NaN                NaN                  NaN
192     Zimbabwe           NaN                NaN                  NaN

[193 rows x 4 columns]

# Africa

In [32]:
url = 'https://en.wikipedia.org/wiki/Decolonisation_of_Africa'

In [33]:
# Gets table containing the dates and colonial powers of african countries
df = get_dataframe(get_tables(url)[6])
df

,Country,Date of acquisition of sovereignty,Acquisition of sovereignty
0,Algeria,3 July 1962,French recognition of Algerian referendum on i...
1,Angola,11 November 1975,Independence from Portugal
2,Benin,1 August 1960,Independence from France
3,Botswana,30 September 1966,Independence from the United Kingdom
4,Burkina Faso,5 August 1960,Independence from France
...,...,...,...
58,Uganda,1 March 1962,Self-government granted
59,Uganda,9 October 1962,Independence from the United Kingdom
60,Zambia,24 October 1964,Independence from the United Kingdom
61,Zimbabwe,11 November 1965,Unilateral declaration of independence by Sout...
62,Zimbabwe,18 April 1980,Recognized independence from the United Kingdo...

In [34]:
# Rename columns to fit with the 'data' dataframe
df = df.rename(columns={"Date of acquisition of sovereignty": 'Independence',
                       'Acquisition of sovereignty': 'Independence From'})

# Independence from date to just year
df['Independence'] = df['Independence'].str.split(expand=True)[2]

# Removes duplicates
df = df.drop_duplicates(
    ['Country'], keep='last').reset_index(drop=True)

# Get some colonial powers
df['Independence From'] = df['Independence From'].str.replace(
    "Independence From|the| declared| recognized", "", case=False, regex=True)

# Corrections
# Algeria, Madagascar, Morocco
df.iloc[[0, 29, 34], 2] = 'France'

# Egypt, South Africa, Sudan, Tanzania, Zimbabwe
df.iloc[[14, 45, 47, 48, 53], 2] = 'United Kingdom'

# Ethiopia
df.iloc[18]['Independence From'] = 'None'

# Liberia (Colonized by "American Colonization Society")
df.iloc[27]['Independence From'] = 'United States'

# Libya, Somalia
df.iloc[[28, 44], 2] = 'Italy'

# Namibia
df.iloc[36]['Independence From'] = 'South Africa'

# South Sudan
df.iloc[46]['Independence From'] = 'Sudan'

# Dates
# Libya (Declared: 1947 | Kingdom established: 1951)
# df.iloc[28]['Independence'] = 1947

# Malawi (Dominion: 1964 | Republic: 1966)
df.iloc[30]['Independence'] = 1966

# Mauritius (Elizabeth II as head of state: 1968 - 1992 | Republic: 1992)
# df.iloc[33]['Independence'] = 1992

# Morocco (End of the French Protectorate announced: 1955 | Declaration: 1956)
df.iloc[34]['Independence'] = 1956

# Sierra Leone (Dominion: 1961 | Republic: 1971)
df.iloc[43]['Independence'] = 1971

# South Africa (Statute of Westminster: 1931 | Republic: 1961)
df.iloc[45]['Independence'] = 1961

# Tanzania (Tanganyika: 1961 | Zanzibar: 1963 | Merger: 1964)
# df.iloc[48]['Independence'] = 1964

# Uganda (Dominion: 1962 | Republic: 1963)
df.iloc[51]['Independence'] = 1963

df

                          Country Independence Independence From
0                         Algeria         1962            France
1                          Angola         1975          Portugal
2                           Benin         1960            France
3                        Botswana         1966    United Kingdom
4                    Burkina Faso         1960            France
5                         Burundi         1962           Belgium
6                      Cabo Verde         1975          Portugal
7                        Cameroon         1960            France
8        Central African Republic         1960            France
9                            Chad         1960            France
10                        Comoros         1975            France
11   Democratic Republic of Congo         1960           Belgium
12              Republic of Congo         1960            France
13                       Djibouti         1977            France
14                          Egypt         1922    United Kingdom
15              Equatorial Guinea         1968             Spain
16                        Eritrea         1993          Ethiopia
17                       Eswatini         1968    United Kingdom
18                       Ethiopia         None              None
19                          Gabon         1960            France
20                         Gambia         1965    United Kingdom
21                          Ghana         1957    United Kingdom
22                         Guinea         1958            France
23                  Guinea-Bissau         1974          Portugal
24                    Ivory Coast         1960            France
25                          Kenya         1963    United Kingdom
26                        Lesotho         1966    United Kingdom
27                        Liberia         1847     United States
28                          Libya         1951             Italy
29                     Madagascar         1960            France
30                         Malawi         1966    United Kingdom
31                           Mali         1960            France
32                     Mauritania         1960            France
33                      Mauritius         1968    United Kingdom
34                        Morocco         1956            France
35                     Mozambique         1975          Portugal
36                        Namibia         1990      South Africa
37                          Niger         1960            France
38                        Nigeria         1960    United Kingdom
39                         Rwanda         1962           Belgium
40          São Tomé and Príncipe         1975          Portugal
41                        Senegal         1960            France
42                     Seychelles         1976    United Kingdom
43                   Sierra Leone         1971    United Kingdom
44                        Somalia         1960             Italy
45                   South Africa         1961    United Kingdom
46                    South Sudan         2011             Sudan
47                          Sudan         1956    United Kingdom
48                       Tanzania         1961    United Kingdom
49                           Togo         1960            France
50                        Tunisia         1956            France
51                         Uganda         1963    United Kingdom
52                         Zambia         1964    United Kingdom
53                       Zimbabwe         1980    United Kingdom

In [35]:
df.iloc[-1, 0]

'\xa0Zimbabwe'

In [36]:
df['Country'] = df['Country'].str.replace('\xa0', '')
df.iloc[-1, 0]

'Zimbabwe'

In [37]:
map_fill(data, df, 'Country', ['Independence', 'Independence From'])

data

         Country Independence Independence From  Main Colonial Power
0    Afghanistan          NaN               NaN                  NaN
1        Albania          NaN               NaN                  NaN
2        Algeria         1962            France                  NaN
3        Andorra          NaN               NaN                  NaN
4         Angola         1975          Portugal                  NaN
..           ...          ...               ...                  ...
188    Venezuela          NaN               NaN                  NaN
189     Viet Nam          NaN               NaN                  NaN
190        Yemen          NaN               NaN                  NaN
191       Zambia         1964    United Kingdom                  NaN
192     Zimbabwe         1980    United Kingdom                  NaN

[193 rows x 4 columns]

## Main Colonial Power

In [38]:
# Gets table containing the dates and colonial powers of african countries
df = get_dataframe(get_tables(url)[0])[['Country', 'Colonial power']]
df = df.rename(columns={'Colonial power': 'Main Colonial Power'})

df

,Country,Main Colonial Power
0,Liberia,United States
1,South Africa,United Kingdom
2,Egypt,United Kingdom
3,Ethiopian Empire,Kingdom of Italy United Kingdom
4,Eritrea,Italy
5,Emirate of Cyrenaica,United Kingdom
6,United Kingdom of Libya,United Kingdom French Fourth Republic Emirate...
7,Libya,Italy United Kingdom
8,Sudan,United Kingdom[q] Republic of Egypt
9,South Sudan,United Kingdom[q] Republic of Egypt
10,Tunisia,France United Kingdom
11,Morocco,France Spain
12,Ghana,United Kingdom
13,Guinea,France
14,Cameroon,Germany France United Kingdom
15,Togo,France
16,Mali,France
17,Senegal,France
18,Madagascar,France
19,Democratic Republic of the Congo,Belgium
20,Somalia,United Kingdom Italy
21,Republic of Dahomey,French Fifth Republic Portuguese Republic
22,Benin,France
23,Niger,France
24,Burkina Faso,France
25,Ivory Coast,France
26,Chad,France
27,Central African Republic,France
28,Republic of the Congo,France
29,Gabon,France
30,Nigeria,United Kingdom
31,Mauritania,France
32,Sierra Leone,United Kingdom
33,Tanganyika,United Kingdom
34,Burundi,Germany Belgium
35,Rwanda,Germany Belgium
36,Algeria,France
37,Uganda,United Kingdom
38,Kenya,United Kingdom
39,Sultanate of Zanzibar,United Kingdom
40,Malawi,United Kingdom
41,Zambia,United Kingdom
42,The Gambia,United Kingdom
43,Rhodesia Zimbabwe,United Kingdom
44,Botswana,United Kingdom
45,Lesotho,United Kingdom
46,Mauritius,United Kingdom
47,Eswatini,United Kingdom
48,Equatorial Guinea,Spain
49,Guinea-Bissau,Portugal
50,Mozambique,Portugal
51,Cape Verde,Portugal
52,Comoros,France
53,São Tomé and Príncipe,Portugal
54,Angola,Portugal
55,Seychelles,United Kingdom
56,Djibouti,France
57,Sahrawi Arab Democratic Republic,Spain Morocco Islamic Republic of Mauritania
58,Namibia,South Africa

In [39]:
df.iloc[-1, 0]

'\xa0Namibia'

In [40]:
df['Country'] = df['Country'].str.replace('\xa0', '')
df.iloc[-1, 0]

'Namibia'

In [ ]:
df = df.drop([5, 6, 21, 39, 57]).reset_index(drop=True)

In [47]:
# Corrections
df.iloc[3]['Country'] = 'Ethiopia'
df.iloc[3]['Main Colonial Power'] = None

df.iloc[30]['Country'] = 'Tanzania'
df.iloc[38]['Country'] = 'Gambia'
df.iloc[39]['Country'] = 'Zimbabwe'
df.iloc[47]['Country'] = 'Cabo Verde'

df.iloc[[5, 18], 1] = 'Italy'

df.iloc[[6, 7, 53], 1] = 'United Kingdom'

df.iloc[[8, 9], 1] = 'France'

df.iloc[[12, 31, 32], 1] = 'Germany'

df

                             Country Main Colonial Power
0                            Liberia       United States
1                       South Africa      United Kingdom
2                              Egypt      United Kingdom
3                           Ethiopia                None
4                            Eritrea               Italy
5                              Libya               Italy
6                              Sudan      United Kingdom
7                        South Sudan      United Kingdom
8                            Tunisia              France
9                            Morocco              France
10                             Ghana      United Kingdom
11                            Guinea              France
12                          Cameroon             Germany
13                              Togo              France
14                              Mali              France
15                           Senegal              France
16                        Madagascar              France
17  Democratic Republic of the Congo             Belgium
18                           Somalia               Italy
19                             Benin              France
20                             Niger              France
21                      Burkina Faso              France
22                       Ivory Coast              France
23                              Chad              France
24          Central African Republic              France
25             Republic of the Congo              France
26                             Gabon              France
27                           Nigeria      United Kingdom
28                        Mauritania              France
29                      Sierra Leone      United Kingdom
30                          Tanzania      United Kingdom
31                           Burundi             Germany
32                            Rwanda             Germany
33                           Algeria              France
34                            Uganda      United Kingdom
35                             Kenya      United Kingdom
36                            Malawi      United Kingdom
37                            Zambia      United Kingdom
38                            Gambia      United Kingdom
39                          Zimbabwe      United Kingdom
40                          Botswana      United Kingdom
41                           Lesotho      United Kingdom
42                         Mauritius      United Kingdom
43                          Eswatini      United Kingdom
44                 Equatorial Guinea               Spain
45                     Guinea-Bissau            Portugal
46                        Mozambique            Portugal
47                        Cabo Verde            Portugal
48                           Comoros              France
49             São Tomé and Príncipe            Portugal
50                            Angola            Portugal
51                        Seychelles      United Kingdom
52                          Djibouti              France
53                           Namibia      United Kingdom

In [48]:
map_fill(data, df, 'Country', ['Main Colonial Power'])
data

         Country Independence Independence From Main Colonial Power
0    Afghanistan          NaN               NaN                 NaN
1        Albania          NaN               NaN                 NaN
2        Algeria         1962            France              France
3        Andorra          NaN               NaN                 NaN
4         Angola         1975          Portugal            Portugal
..           ...          ...               ...                 ...
188    Venezuela          NaN               NaN                 NaN
189     Viet Nam          NaN               NaN                 NaN
190        Yemen          NaN               NaN                 NaN
191       Zambia         1964    United Kingdom      United Kingdom
192     Zimbabwe         1980    United Kingdom      United Kingdom

[193 rows x 4 columns]

# America

In [52]:
url = 'https://en.wikipedia.org/wiki/Decolonization_of_the_Americas'

In [53]:
df = get_dataframe(get_tables(url)[0])[
    ['Country', 'Colonial power', 'Independence date']]
df['Main Colonial Power'] = np.nan
df =  df.sort_values('Country').reset_index(drop=True)
df

,Country,Colonial power,Independence date,Main Colonial Power
0,Antigua and Barbuda,United Kingdom,"November 1, 1981",NaN
1,Argentina,Spanish Empire,"May 25, 1810 and July 9, 1816",NaN
2,Bahamas,United Kingdom,"July 10, 1973",NaN
3,Barbados,United Kingdom,"November 30, 1966",NaN
4,Belize,United Kingdom,"September 21, 1981",NaN
5,Bolivia,Spanish Empire,"August 6, 1825",NaN
6,Brazil,Portuguese Empire,"August 29, 1825",NaN
7,Canada,United Kingdom,"July 1, 1867",NaN
8,Chile,Spanish Empire,"February 12, 1818",NaN
9,Colombiaas part of Gran Colombia,Spanish Empire,"August 7, 1819",NaN
10,Costa Ricaas part of Federal Republic of Cen...,Spanish Empire,"September 15, 1821",NaN
11,Cuba,Spain,"December 10, 1898",NaN
12,Dominica,United Kingdom,"November 3, 1978",NaN
13,Dominican Republic,Spanish Empire,"August 16, 1865",NaN
14,Dominican Republic,Spanish Empire,"November 20, 1821",NaN
15,Ecuadoras part of Gran Colombia,Spanish Empire,"May 24, 1822",NaN
16,El Salvadoras part of Federal Republic of Ce...,Spanish Empire,"September 15, 1821",NaN
17,Grenada,United Kingdom,"February 7, 1974",NaN
18,Guatemalaas part of Federal Republic of Cent...,Spanish Empire,"September 15, 1821",NaN
19,Guyana,United Kingdom,"May 26, 1966",NaN
20,Haiti,Kingdom of France (until 1792) French First ...,"January 1, 1804",NaN
21,Hondurasas part of Federal Republic of Centr...,Spanish Empire,"September 15, 1821",NaN
22,Jamaica,United Kingdom,"August 6, 1962",NaN
23,Mexico,Spanish Empire,"September 27, 1821",NaN
24,Nicaraguaas part of Federal Republic of Cent...,Spanish Empire,"September 15, 1821",NaN
25,Panamaas part of Gran Colombia,Spanish Empire,"November 28, 1821",NaN
26,Paraguay,Spanish Empire,"May 14, 1811",NaN
27,Peru,Spanish Empire,"December 9, 1824",NaN
28,Saint Kitts and Nevis,United Kingdom,"September 19, 1983",NaN
29,Saint Lucia,United Kingdom,"February 22, 1979",NaN
30,Saint Vincent and the Grenadines,United Kingdom,"October 27, 1979",NaN
31,Suriname,Netherlands,"November 25, 1975",NaN
32,Trinidad and Tobago,United Kingdom,"August 31, 1962",NaN
33,United States,British Empire,"July 4, 1776, September 3, 1783",NaN
34,Uruguay,Spanish Empire; Empire of Brazil,"May 18, 1811;August 27, 1828",NaN
35,Venezuelaas part of Gran Colombia,Spanish Empire,"June 24, 1821",NaN

In [54]:
df.iloc[0, 0]

'\xa0Antigua and Barbuda'

In [55]:
df['Country'] = df['Country'].str.replace('\xa0', '')
df.iloc[0, 0]

'Antigua and Barbuda'

In [56]:
df = df.rename(columns={"Independence date": 'Independence',
                                  'Colonial power': 'Independence From'})
df['Independence'] = df['Independence'].str.split(expand=True)[2]
# Second Dominican Republic Independence
df = df.drop(13).reset_index(drop=True)
df

,Country,Independence From,Independence,Main Colonial Power
0,Antigua and Barbuda,United Kingdom,1981,NaN
1,Argentina,Spanish Empire,1810,NaN
2,Bahamas,United Kingdom,1973,NaN
3,Barbados,United Kingdom,1966,NaN
4,Belize,United Kingdom,1981,NaN
5,Bolivia,Spanish Empire,1825,NaN
6,Brazil,Portuguese Empire,1825,NaN
7,Canada,United Kingdom,1867,NaN
8,Chile,Spanish Empire,1818,NaN
9,Colombiaas part of Gran Colombia,Spanish Empire,1819,NaN
10,Costa Ricaas part of Federal Republic of Cent...,Spanish Empire,1821,NaN
11,Cuba,Spain,1898,NaN
12,Dominica,United Kingdom,1978,NaN
13,Dominican Republic,Spanish Empire,1821,NaN
14,Ecuadoras part of Gran Colombia,Spanish Empire,1822,NaN
15,El Salvadoras part of Federal Republic of Cen...,Spanish Empire,1821,NaN
16,Grenada,United Kingdom,1974,NaN
17,Guatemalaas part of Federal Republic of Centr...,Spanish Empire,1821,NaN
18,Guyana,United Kingdom,1966,NaN
19,Haiti,Kingdom of France (until 1792) French First ...,1804,NaN
20,Hondurasas part of Federal Republic of Centra...,Spanish Empire,1821,NaN
21,Jamaica,United Kingdom,1962,NaN
22,Mexico,Spanish Empire,1821,NaN
23,Nicaraguaas part of Federal Republic of Centr...,Spanish Empire,1821,NaN
24,Panamaas part of Gran Colombia,Spanish Empire,1821,NaN
25,Paraguay,Spanish Empire,1811,NaN
26,Peru,Spanish Empire,1824,NaN
27,Saint Kitts and Nevis,United Kingdom,1983,NaN
28,Saint Lucia,United Kingdom,1979,NaN
29,Saint Vincent and the Grenadines,United Kingdom,1979,NaN
30,Suriname,Netherlands,1975,NaN
31,Trinidad and Tobago,United Kingdom,1962,NaN
32,United States,British Empire,"1776,",NaN
33,Uruguay,Spanish Empire; Empire of Brazil,1811;August,NaN
34,Venezuelaas part of Gran Colombia,Spanish Empire,1821,NaN